.l-header {
  // position: relative;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: $color-white;
  // backdrop-filter: blur(10px);
  // box-shadow: $box-shadow-light-1;
  display: none;

  @include mq-target(lg) {
    display: block;
  }

  &__inner {
    height: 74px;
    padding: 20px 32px 20px 35px;
    position: relative;
    @include maxWidth(1000px);
    @include flex($align:center,$justify:space-between);

    h1 {
      flex: 0 0 120px;

      a {
        display: block;
      }
    }


  }

  &__nav {
    position: relative;
    width: 100%;
  }

  &__list {
    @include flex($align:center, $justify:center);
    margin-left: 10%;
    
    li {
      position: relative;
      width: 170px;
      height: 50px;
      
      a {
        font-weight: 700;
        display: block;
        height: 100%;
        padding: 8px 0;
        color: $color-black;
        text-transform: uppercase;
        line-height: 100%;
        text-align: center;
        font-size: 14px;
        background: url(../../assets/images/heder_menu.png) no-repeat 0 0 /contain;

        span {
          font-size: 10px;
          margin: 4px 0 0;
          display: block;
        }
      }
    }
  }
}