@use "../foundation"as *;

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  // background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(235, 235, 235, 0.1));

  &__inner {
    @include flex($align:center, $justify:space-between);
    position: relative;
    z-index: 1;
    width: min(88.5416666667vw, 1500px);
    height: min(7.8125vw, 97px);
    margin: 0 auto;
  }

  &__logo {
    width: 200px;
    width: min(vw(130px, 768), 200px);

    a {
      img {
        margin-top: 0.6vw;
        vertical-align: middle;
      }
    }
  }

  &__nav {
    display: flex;
  }

  &__list {
    @include flex($align:center);

    a {
      font-weight: 700;
      @include flex($align:center);
      height: min(7.8125vw, 97px);
      padding: 0 min(1.5625vw, 20px);
      font-size: min(vw(12px, 768), 18px);
      cursor: pointer;
      position: relative;
      white-space: nowrap;
      filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.25));
    }
  }

}