@use "../foundation"as *;

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(150, 5, 5, 0.2));

  &__inner {
    @include flex($align:center,$justify:flex-end);
    position: relative;
    z-index: 1;
    width: min(88.5416666667vw, 1700px);
    height: min(7.8125vw,70px);
    margin: 0 auto;
  }

  &__nav {
    display: flex;
  }

  &__list {
    @include flex($align:center);

    a {
      font-weight: 700;
      @include flex($align:center,$justify:center);
      height: min(7.8125vw,70px);
      padding: 0 min(1.5625vw, 20px);
      font-size: min(2.34375vw, 16px);
      cursor: pointer;
      position: relative;
      white-space: nowrap;
      transition: all .3s;
    }
  }

}