@use "../foundation" as *;

.u-dp-pc {
  display: block;

  @include mq(md) {
    display: none;
  }

  &--sm {
    display: block;
    @include mq(sm) {
      display: none;
    }
  }
}


.u-dp-sp {
  display: none;

  @include mq(md) {
    display: block;
  }

  &--sm {
    display: none;
    @include mq(sm) {
      display: block;
    }
  }
}


.u-flexbox {
  display: flex;
}

.u-flexbox-wrap {
  flex-wrap: wrap;
}