.p-chara {
    position: relative;
    overflow: hidden;
    // margin: -90px 0 0;
    z-index: 500;
    // background: url(../../assets/images/story_bg.png) bottom no-repeat;

    &::before {
        content: "";
        @include absAll;
        background: rgba($color: #000000, $alpha: 0.45);
        // background: url(../../assets/images/redmist.png);
        // opacity: 0.3;
        // background-size: cover;
    }
    
    &__heading {
        @include maxWidth(320px);
        // max-width: 40.86145%;
        text-align: center;
        // position: absolute;
        // top: -20px;
        // left: calc(50% - 56%);
        // z-index: 1500;
        // transform: rotate(-7.4deg);
        // animation: animation-zoomImg 2s ease-in-out infinite;

        &--chara {
            max-width: 360px;
            margin: 20px auto;
        }
    }

    &__bg {
        @include absAll;
        // background: url(../../assets/images/story_bg.png) 50% 50% no-repeat;
        // background-size: cover;

        &--slide {
            position: absolute;
            z-index: 2;
            top: 80px;
            text-align: left;
            left: 60%;
            // margin-left: 20px;
            font-size: 54px;
            font-weight: 500;
            line-height: 0.6;
            letter-spacing: 0.1em;
            writing-mode: vertical-rl;
            text-orientation: upright;
            // line-height: 0.6;
            text-shadow: 1px 8px 12px rgb(0, 0, 0);

            span {
                // margin-top: 8px;
                position: relative;
                left: -10px;
                top: 4px;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 0;
                text-shadow: 1px 2px 4px rgb(0, 0, 0);
            }
        }
    }
    
    
    &__inner {
        padding: 120px 0 60px;
        overflow: hidden;
        position: relative;
    }

    &__hands {
        position: absolute;
        bottom: 180px;
        left: -1%;
        width: 18%;
        z-index: 500;
        // transform: rotate(-16deg);
        
        img {
            transition-delay: 1s;
        }
    }

    &__axe {
        position: absolute;
        top: 200px;
        right: 5%;
        width: 18%;
        z-index: 500;
        // transform: rotate(-16deg);
        
        img {
            transition-delay: 1s;
        }
    }

    &__main {
        position: relative;
        height: 600px;
        overflow: hidden;
        user-select: none;
    }

    &__slider {
        user-select: none;
        position: relative;
        @include maxWidth(1100px);
        margin: 0px auto 0;
    }

    &__slide {
        opacity: 0 !important;
        transition: opacity 0.5s ease 0s;
    }

    &__head {
        position: absolute;
        width: 214px;
        top: 66px;
        text-align: left;
        left: 8%;
    }

    &__foot {
        position: absolute;
        top: 140px;
        right: 3%;
        width: 34%;
    }

    &__tab {
        // min-height: 100vh;
        // padding-top: 120px;
        // @include flexCenter;

        em {
            // color: #000;
            font-style: normal;
            font-size: 24px;
            // letter-spacing: 0.2em;
            // color: $color-black;
            margin: 0 0 40px;
            text-shadow: 1px 2px 4px #000000;
        }
    }

    &__list {
        &--data {
            max-width: 500px;
            @include flex($wrap:wrap, $justify:space-between);
        }

        &--tab {
            @include absCenter;
            top: 280px;
            // top: -80px;
            // position: absolute;
            // top: 0;
            // left: 20%;
            // position: relative;
            // top: -40px;
            @include maxWidth(400px);
            // width: 90%;
            margin: 20px auto 0;
            @include flex($wrap:wrap, $justify:space-between);
            z-index: 5000;
        }

        &--ss {
            margin: 20px 0 0;
            @include flex($wrap:wrap, $justify:space-between);
        }
    }

    &__item {

        &--bg {
            --chara-bg-opacity: 0.8;
            opacity: 0;
            @include absAll;
            // clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
            transition: opacity 0.5s ease;
            background: url(../../assets/images/charaBg_01.jpg) 50% 50% no-repeat;
            background-size: cover;
            // filter: grayscale(50%);
            // clip-path: polygon(0 66%, 100% 35%, 100% 100%, 0 100%);



            // clip-path: polygon(0 100%, 40% 100%, 80% 70%, 100% 100%);

            &.is-anim {}

            &::before {
                @include absAll;
                content: "";
                background: rgba($color: $color-black, $alpha: 0.6);
                z-index: 0;
            }

            &02 {
                background: url(../../assets/images/charaBg_02.jpg) 50% 50% no-repeat;
                background-size: cover;

                // &::after {
                //     background: rgba($color: $color-blue, $alpha: var(--chara-bg-opacity));
                // }
            }

            &03 {
                background: url(../../assets/images/charaBg_03.jpg) 50% 50% no-repeat;
                background-size: cover;
                // &::after {
                //     background: rgba($color: $color-red, $alpha: var(--chara-bg-opacity));
                // }
            }
        }


        &--ss {
            cursor: pointer;
            width: 45%;
            // border: 6px solid #fff;
            box-shadow: $box-shadow-light-2;
        }

        &--tab {
            width: 19%;
            margin: 0 2px;
            cursor: pointer;
            position: relative;
            transition-delay: .1s;
            // transition: opacity 0.2s ease;
        }
    }

    &__img {

        &--chara {
            position: relative;
            img {
                width: 300px;
            }
            
            .-front01 {
                position: relative;
                margin-right: 180px;
                z-index: 2;
            }
        }
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        text-shadow: 1px 2px 4px rgba($color: $color-black, $alpha: 0.6);

        span {
            opacity: 0.65;
        }
    }

    &__name {
        display: inline-block;
        // color: $color-white;
        // background: $color-black;
        // padding: 0 20px;
        font-size: 20px;
        margin: 0 0 10px;
        text-shadow: 1px 2px 4px rgba($color: $color-black, $alpha: 0.6);
        letter-spacing: 0.1em;
    }

    &__txt {
        display: inline-block;
        // background: $color-black;
        // padding: 8px 0 8px 20px;
        overflow: hidden;
        text-shadow: 1px 2px 4px rgba($color: $color-black, $alpha: 0.6);
        text-align: left;

        span {
            // color: $color-white;
            letter-spacing: 0.1em;
            // font-weight: 700;
            font-size: 14px;
            display: block;
        }
    }
}

@include mq-target(sm) {
    .p-chara {
        &__main {
            height: 728px;
        }

        &__item {
            &--data {
                width: 48%;

                dl {
                    padding: 0 40px 0 10px;
                    font-size: 16px;

                    dt {
                        width: 68px;
                    }

                    dd {
                        flex: 1;
                    }
                }
            }

            &--ss {
                width: 49%;
            }
        }

        &__head {
            top: 60px;
            left: 12%;
            width: 404px;
        }

        &__foot {
            top: 156px;
            right: 11%;
            width: 22%;
        }

        &__tab {
            // bottom: -46px;
        }

        &__title {
            font-size: 18px;
        }

        &__name {
            font-size: 30px;
            // text-align: center;
        }

        &__txt {
            // text-align: center;
            // margin: 10px 0 0;

            span {
                font-size: 17px;
            }
        }
    }
}

@include mq-target(md) {

    .p-chara {
        &__main {
            height: 620px;
        }

        &__item {
            &--data {
                dl {
                    dt {
                        width: 80px;
                    }
                }
            }
        }

        &__head {
            width: 51%;
            top: 114px;
            left: 8%;
        }

        &__foot {
            width: 437px;
            top: 12px;
            right: 0.4%;

        }

        &__tab {
            // bottom: -130px;
            // z-index: 500;
        }

    }
}

[data-character="1"] .p-chara__item--bg:nth-child(1),
[data-character="2"] .p-chara__item--bg:nth-child(2),
[data-character="3"] .p-chara__item--bg:nth-child(3),
[data-character="4"] .p-chara__item--bg:nth-child(4),
[data-character="5"] .p-chara__item--bg:nth-child(5),
[data-character="6"] .p-chara__item--bg:nth-child(6),
[data-character="7"] .p-chara__item--bg:nth-child(7),
[data-character="8"] .p-chara__item--bg:nth-child(8),
[data-character="9"] .p-chara__item--bg:nth-child(9),
[data-character="10"] .p-chara__item--bg:nth-child(10) {
    opacity: 1;
}




.section__top {
    @include absAll;
    top: -20px;
    z-index: 300;
    background: url(../../assets/images/section__top.png) 100% 0 repeat-x;
    background-size: 100%;
    width: 100%;
    // height: 100%;
    // height: 1200px;
    pointer-events: none;
    animation: animation-glNav-bg 0.8s ease-in-out infinite;
    // transition: margin 1s ease;

    // &.is-anim {
    //     margin-top: -41%;
    // }
}

.section__bottom {
    position: absolute;
    z-index: 300;
    bottom: 0;
    left: 0;
    background: url(../../assets/images/footer_bg.png) 100% 0 repeat-x;
    background-size: 100%;
    width: 100%;
    height: 280px;
    animation: animation-glNav-bg 2s ease-in-out infinite;
}

.section__bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    // top: 50px;
    top: 0;
    left: 0;
    // animation: animation-opt 10s infinite alternate;   
    // filter: grayscale(100%);
    // background: rgb(2, 0, 9);
    // background: url(../../assets/images/gallery_bg.jpg) 50% 50% no-repeat;
    // background: url(../../assets/images/meani1.gif) top center no-repeat;
    background: url(../../assets/images/story_bg.png) bottom no-repeat;
    background-size: cover;
    filter: blur(3px);
    margin: -3px;
    width: calc(100% + 6px);
    // filter: grayscale(100%);
    z-index: 1;

    &::after {
        content: "";
        @include absAll;
        // background: rgba($color: #000, $alpha: 0.4);
    }
}