@use "../foundation"as *;

.p-concept {
    background: $color-bg;
    position: relative;
    overflow: hidden;
    z-index: 500;
    @include maxWidth(1920px);
    height: min(vw(360px, 365), 760px);
    padding: min(vw(40px, 365), 80px) 0 min(vw(20px, 365), 40px);
    
    @include mq-target(sm) {
        height: min(vw(460px, 768), 800px);
        padding: min(vw(40px, 768), 80px) 0 min(vw(40px, 768), 100px);
    }

    &::before {
        content: "";
        @include absAll;
        background-image: linear-gradient(rgba($color-bg, 0.45)), url("../../assets/images/charaBg_01.jpg");
        background-position: center;
        background-size: auto 100%;
    }

    &__bg {
        @include absAll;
        background-image: linear-gradient(rgba($color-bg, 0)), url("../../assets/images/fence.png");
        // background-position: center;
        background-size: auto 100%;
        background-repeat: repeat-x;
        z-index: 3;
        transition: all 2s linear;
        opacity: 0;

        &.is-anim {
            opacity: 1;
            background-position: 100% 0;
        }
    }


    &__wrap {
        position: relative;
        @include maxWidth(1400px);
        padding: 0 20px;

        @include mq-target(sm) {
            padding: 60px vw(90px, 768) 0;
        }

    }

    &-ttl {
        &__wrap {
            position: relative;
            z-index: 500;
            transition-delay: 2.6s !important;
            @include flex($align:flex-start, $justify:space-between);
        }

        &__heading {
            width: min(vw(90px, 365), 146px);

            @include mq-target(sm) {
                width: min(vw(156px, 768), 200px);
            }
        }

        &__txt {
            position: relative;
            width: min(vw(90px, 365), 144px);

            @include mq-target(sm) {
                width: min(vw(154px, 768), 200px);
            }
        }
    }

    &-monitor {
        @include absCenter;
        width: min(vw(360px, 365), 700px);
        margin: auto;
        top: 48vw;
        left: 42%;

        @include mq-target(sm) {
            top: 28vw;
            width: min(vw(460px, 768), 760px);
        }

        @include mq-target(md) {
            top: 33vw;
        }

        &__img {
            display: block;
            height: 100%;
            position: relative;
            z-index: 10;
            mask-image: url(../../assets/images/mask.png);
            mask-mode: alpha;
            mask-repeat: no-repeat;
            mask-size: 100% 0%;
            mask-position: center top;
            transition: 9s 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);

            &::after {
                content: "";
                display: block;
                @include absAll;
                margin: auto;
                // background: url(../../assets/images/play.png) 50% 50% no-repeat;
                background-size: 50% auto;
                opacity: 1;
            }

            &.is-anim {
                -webkit-mask-size: 100% 300%;
                transition: 9s 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                transition-delay: 3s;
            }
        }

        &__txt {
            display: inline-block;
            width: 100%;
            z-index: 500;
            font-size: min(vw(10px, 768), 14px);
            @include absCenter;
        }
    }

    &-keyboard {
        position: relative;
        width: min(vw(280px, 365), 500px);
        margin: -20px auto;

        @include mq-target(sm) {
            width: min(vw(470px, 768), 640px);
        }
    }
}