@use "../foundation"as *;

.p-kv {
    position: relative;
    background: $color-bg;
    overflow: hidden;

    &::before {
        content: "";
        @include absAll;
        background-image: linear-gradient(rgba($color-bg, 0.45)), url("../../assets/images/charaBg_01.jpg");
        background-position: center;
        background-size: contain;
        width: 100vw;
        height: 144vw;

        @include mq-target(sm) {
            height: 54.948vw;
        }
    }

    &__inner {
        height: 144vw;

        @include mq-target(sm) {
            height: 54.948vw;
        }
    }

    &__catch {
        position: absolute;
        top: 50vw;
        left: calc(50% - vw(-10px, 365));
        z-index: 50;

        @include mq-target(sm) {
            top: 16.333vw;
        }

        span {
            img {
                width: 50.598vw;

                @include mq-target(sm) {
                    width: 24.396vw;
                }
            }
        }
    }

    &__object {
        position: absolute;
        width: 100vw;
        top: 17.852vw;
        display: flex;
        justify-content: center;

        @include mq-target(sm) {
            top: 6vw;
        }

        span {
            display: block;
            height: 100%;
            position: relative;
            mask-image: url(../../assets/images/mask.png);
            mask-mode: alpha;
            mask-repeat: no-repeat;
            mask-size: 100% 0%;
            mask-position: center top;
            transition: 9s 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);

            &.is-anim {
                -webkit-mask-size: 100% 300%;
                transition: 9s 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                // transition-delay: 3s;
            }
        }



        img {
            width: 80vw;

            @include mq-target(sm) {

                width: 34.333vw;
            }

        }
    }
}

