.p-gallery {
  z-index: 1;
  margin-top: -10px;
  padding: $paddingSm;
  @include mq-target(md) {
      padding: 170px 0px 137px;
    }
    // transform: skewY(-5deg);
  
    &__bg {
      @include absAll;
      // background: url(../../assets/images/squ_bg.png) center;
      background-size: auto 100%;
      margin-top: 110px;
      opacity: 0;
      transition: margin 1700ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, opacity 1700ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  
      &.is-anim {
        margin-top: 0;
        opacity: 1;
      }
    }
  
    &__inner {
      width: 100%;
      position: relative;
      z-index: 10;
      // transform: skewY(5deg);
    }
  
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 1100px;
      margin: 60px auto 0;
      @include column4(31%);
    }
  
    &__item {
      position: relative;
      width: 48%;
      margin: 0 0 40px;
      box-shadow: 5px 5px 0px 0px rgb(85, 82, 82);
      
      @include mq-target(md) {
        width: 31%;
      }
  
      // &:nth-child(3n + 2) {
      //   transform: translate(0, -40px);
      // }
      // &:nth-child(3n) {
      //   transform: translate(0, -80px);
      // }
    }
  }