.p-mv {
  overflow: hidden;
  width: 100%;
  display: block;
  position: relative;
  // min-height: 100vh;
  // padding-bottom: 100px;
  z-index: 500;
  // height: 780px;
  height: 100vh;
  // background: #000;
  // background: #000;
  // background: url(../../assets/images/main_bg.png) top center no-repeat;
  // background-size: cover;



  @include mq-target(lg) {
    // height: 100vh;
    // height: calc(100vh - 6px);
  }

  &__fog {
    pointer-events: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 500;
    overflow: hidden;

    &--img {
      pointer-events: none;
      z-index: 5;
      opacity: 0.45;
      position: absolute;
      height: 100%;
      width: 600vw;

    }

    &--first {
      background: url(../../assets/images/fog_1.png) top repeat-x;
      background-size: contain;
      animation: marquee 180s linear infinite;
    }

    &--second {
      background: url(../../assets/images/fog_2.png) top repeat-x;
      background-size: contain;
      animation: marquee 120s linear infinite;
    }
  }

  &__bg {
    // display: none;
    position: relative;
    opacity: 1;
    z-index: 50000;

    &::before {
      content: "";
      @include absAll;
      background: rgba($color: #000000, $alpha: 1);
      animation: mvBlurAnime 5s linear infinite alternate;
      transition: background-color 1s linear, -webkit-filter 1s linear;
    }

  }

  &__inner {
    // min-height: 100vh;
    position: relative;

    &--heading {
      width: 84%;
      margin: auto;
      
      @include mq-target(sm) {
        width: 50.8%;
      }
    }
  }

  &__heading {
    @include absCenter;
    top: 66%;
    width: 100%;
    @include mq-target(sm) {
      width: 48%;
    }
    h1 {
      height: 160px;
      margin: auto;
    }
  }

  &__chara {
    position: absolute;
    top: 12%;
    right: 5%;
    width: 20%;
    opacity: 0;
    filter: blur(5px) brightness(1);
    transition: transform 1.5s cubic-bezier(0.21, 0.75, 0.38, 0.95) 1.3s, opacity 1.5s ease 1.3s, filter 1.5s ease 1.3s;
    transition-delay: 1.8s;

    &.is-anim {
      opacity: 1;
      filter: blur(0px) brightness(1);
    }

    @include mq-target(sm) {
      width: 70px;
      right: 10%;

    }

    @include mq-target(md) {
      top: 12%;
      width: 9%;
      right: 10%;
    }

    @include mq-target(lg) {
      // width: 120px;
      width: 6.7%;
      right: 12%;
    }

    img {}


    &--02 {
      top: 18%;
      right: 18%;

      @include mq-target(md) {
        top: 18%;
        right: 17%;
      }
    }
  }
}


.p-banner {
  position: relative;
  z-index: 500;

  // top: -160px;
  &__inner {
    display: block;
    position: relative;
    width: 100%;
    margin: 1% auto 2%;
    max-width: 440px;
  }

  &__list {
    // top: -20px;
    margin: 20px 0 0;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: auto;
    flex-wrap: wrap;
  }

  &__item {
    display: block;
    position: relative;
    width: 32.2%;
    // width: 140px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  }
}