@use "../foundation"as *;

.p-mv {
  position: relative;
  width: 100%;
  z-index: 250;
  height: min(153.1942633638vw, 720px);

  @include mq-target(sm) {
    height: min(56.25vw, 880px);
  }

  overflow: hidden;
  // z-index: 1;

  &__fog {
    pointer-events: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 500;
    overflow: hidden;

    &--img {
      pointer-events: none;
      z-index: 5;
      opacity: 0.25;
      position: absolute;
      height: 100%;
      width: 600vw;

    }

    &--first {
      background: url(../../assets/images/fog_1.png) top repeat-x;
      background-size: contain;
      animation: marquee 180s linear infinite;
    }

    &--second {
      background: url(../../assets/images/fog_2.png) top repeat-x;
      background-size: contain;
      animation: marquee 120s linear infinite;
    }
  }

  &__bg {
    background-image: url(../../assets/images/storyBg_01.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: min(153.1942633638vw, 720px);
    position: fixed;
    top: 0;
    left: 0;

    @include mq-target(sm) {
      height: min(56.25vw, 880px);
    }
  }

  &-logo {
    @include absCenter;
    display: block;
    z-index: 250;
    top: min(vw(440px, 365),580px);
    @include mq-target(sm) {
      top: min(vw(340px, 768),650px);
      // top: min(vw(335px, 768), 670px);
      // left: 77vw;
    }

    &__heading {
      width: min(vw(340px, 365),420px);
      margin: auto;
      
      @include mq-target(sm) {
        width: min(vw(250px, 768), 600px);
      }
    }

    &__txt {
          font-family: 'Noto Serif JP', serif;
      position: relative;
      left: 4%;
      font-size: min(vw(12px, 365),18px);
      @include mq-target(sm) {
        font-size: min(vw(10px, 768), 16px);
      }
    }
  }
}


.killer {
  position: absolute;
  width: 76vw;
  top: -2vw;
  left: -6vw;
  background-image: url(../../assets/images/test_04.png);
  background-size: 74vw;
  width: 100%;
  height: 100%;
  background-position: top;
  transform: rotate(10deg);
  img {
    // transform: rotate(37deg);
    // transition: all 1s linear;
    // transition-delay: 1s;
    // &.is-anim {
    //   transform: rotate(50deg);
    // }
  }

  &__bg {
    margin-top: -14vw;
    transition-delay: 2s;
    transition: all 2s ease;

    &.is-anim {
      margin-top: 0;
    }
  }

}