@use "../foundation"as *;



.p-movie {
    background: $color-black;
    position: relative;
    z-index: 500;
    padding: min(vw(40px, 365), 80px) 0 min(vw(20px, 365), 40px);

    @include mq-target(sm) {
        padding: min(vw(40px, 768), 80px) 0 min(vw(20px, 768), 40px);
    }

    &__bg {
        @include absAll;
        // @include absCenter;
        // filter: blur(2px);
        background-image: url(../../assets/images/movie_bg01.jpg);
        background-position: center;
        background-size: cover;
        // background: #fff;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden;  
      }
    

    &__inner {
        padding-top: min(vw(30px, 768), 60px);
    }


    &__wrap {

        position: relative;
        // width: max(38vw, 370px);
        // width: 90%;
        max-width: 1200px;
        width: 100%;
        padding-right: 4.75652vw;
        padding-left: 4.45652vw;

        margin: auto;
    }

    &__heading {
        text-align: left;
        position: relative;
        z-index: 500;
        font-size: 60px;
        transition-delay: 1.8s !important;
        @include flex($align:flex-start, $justify:space-between);

        h2 {
            width: min(vw(90px, 365), 156px);

            @include mq-target(sm) {
                width: min(vw(120px, 768), 200px);
            }

        }

        p {
            line-height: 1.2;
            font-weight: 400;
            width: min(vw(90px, 365), 154px);

            @include mq-target(sm) {
                width: min(vw(120px, 768), 200px);
                font-size: min(vw(42px, 768), 72px);
            }

            // font-size: 72px;

        }
    }

    &-obj {

        &__monitor {
            @include absCenter;
            width: min(vw(340px, 365), 620px);

            @include mq-target(sm) {
                width: min(vw(400px, 768), 700px);
            }

            margin: auto;

            a {
                display: block;
                height: 100%;
                position: relative;
                z-index: 10;
                -webkit-mask-image: url(../../assets/images/mask.png);
                -webkit-mask-mode: alpha;
                -webkit-mask-repeat: no-repeat;
                -webkit-mask-size: 100% 0%;
                -webkit-mask-position: center top;
                transition: 9s 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);

                &::after {
                    content: "";
                    display: block;
                    @include absAll;
                    margin: auto;
                    background: url(../../assets/images/play.png) 50% 50% no-repeat;
                    background-size: 50% auto;
                    opacity: 1;
                }

                // .smoke__top {
                //     height: 100px;
                // }

                .smoke__bottom {
                    height: 100px;
                }

                &.is-anim {
                    -webkit-mask-size: 100% 300%;
                    transition: 9s 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                }
            }
        }

        &__key {
            // animation: marquee 4s infinite alternate;
            position: relative;
            // transform: rotate(1deg);
            width: min(vw(300px, 365), 500px);
            margin: 0 auto 0;

            @include mq-target(sm) {
                width: min(vw(380px, 768), 640px);
            }
        }
    }
}