@use "../foundation"as *;



.p-movie {
    background: $color-black;
    position: relative;
    z-index: 500;
    padding-top: min(vw(20px, 768), 40px);
    // padding-top: 80px;

    &__wrap {
        position: relative;
        width: max(32vw, 300px);
        margin: auto;

        a {
            width: 100%;
            position: relative;
            display: block;
            &::after {
                content: "";
                display: block;
                @include absAll;
                margin: auto;
                background: url(../../assets/images/play.png) 50% 50% no-repeat;
                background-size: 64% auto;
                opacity: 1;
            }
        }
    }

    &__obj {
        &--rantan {
            position: absolute;
            bottom: vw(-20px, 768);
            right: vw(-40px, 768);
            width: min(vw(110px,768),220px);
            z-index: 50;
        }
    }
}