@use "../foundation"as *;

.p-news {
  position: relative;
  z-index: 7;
  // padding: 2rem 0 2rem;
  padding: min(vw(30px, 768),60px) 0;
  background: rgba($color: $color-black, $alpha: 0.85);

  &__inner {
    // overflow: hidden;
    position: relative;
    margin: auto;
    // padding: 0 min(vw(20px, 768), 60px);
    z-index: 50;
    width: 92%;
    
    @include mq-target(sm) {
      width: min(vw(720px,768),1400px);
      margin: auto;
    }
  }

  &-slider {
    &__container {
      user-select: none;
      padding: 5px;
      @include mq-target(sm) {
        overflow: hidden;
      }
    }

    &__wrap {
      width: 100%;
      box-sizing: content-box;

      @include mq-target(sm) {
        box-sizing: border-box;
      }
    }

    &__slide {
      // margin-right: 15px;
      // width: 98%;
      margin-right: 10px;
      width: calc((100% - 20px) / 2);
      

      @include mq-target(sm) {
        margin-right: 1.6%;
        width: calc((100% - 3.2%) / 3);
      }
      @include mq-target(md) {
        margin-right: 1.6%;
        width: calc((100% - 4.8%) / 4);
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  &-figure {
    &__link {
      transition-property: all;
      transition-duration: .4s;
      transition-timing-function: ease-in-out;
      // display: block;
      overflow: hidden;
      border-radius: 1rem;
      // background-color: #1e0101;

      &:hover {
        transform: translate3d(0, 0.2rem, 0);
      }
    }

    &__img {

      filter: drop-shadow(0 0 min(0.5208333333vw, 3px) rgba(198, 27, 44, 0.5));

      // filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.66)) drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.66));
      &::before {
        padding-top: 54%;
      }
    }

    &__info {
      flex: 1;
      padding: min(vw(8px, 768), 14px);
    }

    &__labels {
      position: relative;
      @include flex($wrap:wrap);
      overflow: hidden;
      margin: 0 -8px 8px;
      padding: 0 8px 8px;
      border-bottom: 0.1rem solid hsla(0, 0%, 100%, .12);
      font-size: min(vw(8px, 768), 12px);

      li {
        @include flex($align:center, $justify:center);
        margin: 0 8px 4px 0;
        padding: 2px 8px;
        border: 0.1rem solid transparent;
        // background-color: #71131b;
        // font-family: 'M PLUS 1';
        filter: brightness(1.5);
      }

      .info {
        border-color: #be1924;
        background-color: transparent;
        color: #d62c37;
      }
    }

    &__heading {
      display: block;
      text-align: left;
      font-size: min(vw(10px, 768), 14px);
    }
  }
}


.p-news__inner .swiper-scrollbar {
  position: relative;
  background-color: transparent;
  @include maxWidth(500px);
  margin-top: 40px;
  border: 1px solid #605993;
  background: #15120e !important;
  border-radius: initial !important;
}

.p-news__inner .swiper-scrollbar::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  height: 8px;
  // background-color: #999;
}

.p-news__inner .drag {
  position: relative;
  height: 8px;
}

.p-news__inner .drag::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 8px;
  margin: auto;
  // border-radius: 50%;
  background-color: #ffffff;
  // border: 3px #000 solid;
}