.p-news {
  position: relative;
z-index: 5000;
  z-index: 600;
  padding: 70px 0 70px;
  // margin-bottom: 120px;
  
  
  &::before {
    @include absAll;
    content: "";
    // background-color: #000;
    opacity: 0.45;
    z-index: 1;
  }

  a {
    display: block;
  }

  .c-sec__ttl {
    margin: 0 auto 20px;

    .-en {
      font-size: 40px;
    }
  }


  &__inner {
      // overflow: hidden;
    position: relative;
    @include maxWidth(1200px);
    padding: 0 15px;
    
    @include mq-target(lg) {
      // padding-left: 8%;
      padding: 0 8%;
    }
  }
  
  &__slider {
    // @include maxWidth(1600px);
  }

  &__img {
    // box-shadow: 0 8px 16px rgb(0 0 0 / 40%);
    will-change: filter;
    // outline: 5px solid $color-black;

    &::before {
      padding-top: 60%;
    }
  }

  &__detail {
    // border: 2px solid $color-white;
    color: $color-black;
  }

  &__meta {
    position: absolute;
    top: 0;
    // opacity: 0.65;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 16px;
    display: none;
    
    span {
      // border: 2px solid $color-white;
      color: $color-white;
      display: inline-block;
      // background: $color-black;
      padding: 1px 12px 4px;
    }
    
    &.-left {
      transform: rotate(4deg);
    }

    &.-right {

    }
  }

  &__txt {
    font-weight: 500;
    text-align: left;
    font-size: 14px;
    // box-shadow: 0 8px 16px rgb(0 0 0 / 40%);
    // color: $color-white;
    // background: $color-black;
    // text-align: center;
    color: $color-white;
    padding: 2px 0 2px 20px;
    // outline-offset: 2px;
    // outline: 5px solid $color-black;
  }
}


.index__btn--slider {
  &::before,
  &::after {
    color: $color-black;
  }
}

// .index {
//   &__slide {
//     &:first-child {
//       &::after {
//         content: "TOPIC";
//         position: absolute;
//         top: -20px;
//         left: -4px;
//         font-size: 24px;
//         font-weight: 700;
//         color: $color-white;
//         padding: 4px 12px;
//         width: 200px;
//         background: #000;
//       }
//     }
//   }
// }