@use "../foundation"as *;

.p-news {
  background: $color-bg;

  &__inner {
    @include maxWidth(1400px);
    padding: 0 64px;
  }

  &__list {
    border-bottom: 2px solid #333333;
    @include mq-target(sm) {
      border-bottom: initial;
      @include flex($wrap:wrap);
      margin: 0 -20px;
    }
  }

  &__item {
    position: relative;
    border-top: 2px solid #333333;
    text-align: left;
    
    @include mq-target(sm) {
      border-bottom: 3px solid #333333;
      border-top: 3px solid #333333;
      margin: -3px 20px 0;
      width: calc(50% - 40px);
    }

    a {
      position: relative;
      padding: 14px 36px 14px 0;
      @include mq-target(sm) {
        padding: 20px 40px 20px 0;
      }
      display: block;

      &:hover {
        transition: all 0.4s ease;
        opacity: 0.35;
      }

      &::after {
        position: absolute;
        top: 50%;
        right: 12px;
        border-right: 2px solid #fff;
        border-top: 2px solid #fff;
        content: "";
        height: 7px;
        transform: translate(0, -50%) rotate(45deg);
        width: 7px;
      }
    }

    h3 {
      font-size: 14px;
      color: #646464;
      font-weight: 600;
    }

    h2 {
      font-size: 16px;
      font-weight: 500;
    }
  }
}