@use "../foundation"as *;

.p-story {
    overflow: hidden;
    position: relative;
    z-index: 3;
    background: #000;
    min-height: 640px;

    &__bg {
        position: relative;
        z-index: 50;
        width: 100%;
        padding-top: 12.375%;
        margin-bottom: -1%;
        background-size: 100% auto;
        background-position: bottom;
        // background-repeat: repeat-x;
        background-image: url(../../assets/images/smoke.webp);
    }


    &__inner {
        background: #000;
        min-height: 640px;
    }

    &-contents {
        position: relative;
        z-index: 500;
        width: 100%;
        min-width: 1280px;
        padding: min(vw(40px,768),160px) 0 160px min(vw(300px,768),660px);

        &__txt {
            font-family:'Noto Serif JP', serif;
            h2 {
                font-family:'teko', serif;
                // margin: 0;
            }

            h3 {
                line-height: 0;
                width: 300px;
                margin: auto;
            }

            h4 {
                background-image: linear-gradient(to bottom, #d81c03, #352e2c);
                -webkit-background-clip: text;
                color: transparent;
                font-size: min(vw(36px,768),62px);
                // font-weight: 500;
            }
            p {
                // text-align: left;
                font-size: min(vw(10px,768),14px);
                line-height: 2;
                margin-top: min(vw(20px,768),40px);
            }
        }
    }

    &-bg {
        @include absAll;
        // filter: blur(2px);
        z-index: 10;
        display: block;
        height: 100%;
        width: 100%;
    }
    


}