.p-story {
    position: relative;
    min-height: 960px;
    overflow: hidden;
    // margin-bottom: 150px;
    // margin: -200px 0 0;
    // z-index: 2000;

    .c-sec__ttl {
        // text-align: left;
        text-shadow: 1px 2px 6px $color-black;
        // width: 30%;
        
    }
    
    &::before {
        content: "";
        @include absAll;
        background: url(../../assets/images/redmist.png);
        opacity: 0.25;
        background-size: cover;
        z-index: 6;
        // animation: animation-opt 4s infinite alternate;

    }

    &.is-anim {
        &::before {
            content: "";
            transform: translateY(0);
        }
    }
    
    
    &__bg {
        @include absAll;
        // top: 20px;
        background: url(../../assets/images/keepout.png) 50% 50% no-repeat;
        background-size: 1800px;
        // transition: all .4s cubic-bezier(.7,.1,.75,.4);
        animation: kf-animate-slide 4s infinite alternate;   
    }
        
    &__inner {
        padding: 60px 0 0;
        // @include maxWidth(600px);
        position: relative;
        // width: 90%;
        top: -50px;
        z-index: 2;
        // @include flexCenter;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
    }

    &__list {
        display: flex;
        width: 100%;
        @include maxWidth(900px);
        margin-top: 30px;
        // padding-bottom: 2%;
    }

    &__item {
        &--left {
            position: relative;
            top: -40px;
            width: 200px;
            padding-right: 2%;
            border-right: 1px solid rgba(234, 31, 31, 0.8);
        }

        &--right {
            // width: 60%;
            max-width: 58%;
            margin: 0 auto;
            // letter-spacing: 0.17em;
            // text-align: left;
            font-weight: 600;
            font-size: 18px;
            line-height: 2.2;
            text-shadow: 1px 8px 12px rgb(0, 0, 0);
            text-transform: uppercase;
            // animation: flicker 1.5s infinite alternate;
        }
    }
}