@use "../foundation"as *;

.p-story {
    overflow: hidden;
    position: relative;
    z-index: 3;
    width: 100%;

    background: $color-bg;
    // height: 780px;
    // content-visibility: auto;
    // contain-intrinsic-size: 780px;


    &__bg {
        position: relative;
        z-index: 50;
        width: 100%;
        padding-top: 12.375%;
        margin-bottom: -1%;
        background-size: 100% auto;
        background-position: bottom;
        // background-repeat: repeat-x;
        background-image: url(../../assets/images/smoke.webp);
    }


    &__inner {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &__list {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    &__item {
        &--left {
            width: 60vw;
            overflow: hidden;
            background: url(../../assets/images/storyBg_01.jpg) no-repeat center center/cover;
            height: 40.896vw;
        }

        &--right {
            background: $color-bg;
            height: 40.896vw;
            overflow: hidden;
            width: 40vw;
        }
    }

    &-content {
        padding-top: 4vw;
        &__txt {
            height: 780px;
            // @include flexCenter;
            width: 40vw;
            margin: auto;

            h2 {
                // font-family: 'teko', serif;
                // margin: 0;
            }

            h3 {
                line-height: 0;
                width: 300px;
                margin: auto;
            }
            
            h4 {
                font-family: 'Noto Serif JP', serif;
                margin-top: 20px;
                background-image: linear-gradient(to bottom, #d81c03, #352e2c);
                -webkit-background-clip: text;
                color: transparent;
                font-size: min(vw(32px, 365), 62px);

                @include mq-target(sm) {
                    font-size: min(vw(22px, 768), 40px);
                }
            }

            p {
                font-family: 'Noto Serif JP', serif;
                font-size: min(vw(10px, 365), 16px);
                line-height: 2;
                margin-top: min(vw(10px, 365), 20px);

                @include mq-target(sm) {
                    font-size: min(vw(10px, 768), 16px);
                    margin-top: min(vw(14px, 768), 24px);
                }
            }
        }
    }



    &-movie {
        display: block;
        position: absolute;
        left: 50%;
        top: 0;
        width: 44vw;
        filter: brightness(1.5);

        &__img {
            display: block;
            height: 100%;
            position: relative;
            z-index: 10;
            mask-image: url(../../assets/images/mask.png);
            mask-mode: alpha;
            mask-repeat: no-repeat;
            mask-size: 100% 0%;
            mask-position: center top;
            transition: 9s 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            z-index: 3;

            &.is-anim {
                -webkit-mask-size: 100% 300%;
                transition: 9s 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }

            &::after {
                content: "";
                display: block;
                @include absAll;
                margin: auto;
                background: url(../../assets/images/play.png) 50% 50% no-repeat;
                background-size: 15% auto;
                opacity: 1;
            }

            img {
                width: 560px
            }
        }

        &__keyboard {
            width: 420px;
            @include absCenter;
            top: 105%;
            z-index: 55;
        }

        a {
            position: relative;
            z-index: 600;
            display: block;
            @include flexCenter;
            height: 780px;
        }
    }

}