@use "../foundation"as *;

.p-sys {
    position: relative;
    // background: rgb(255, 253, 201);
    // background: #000;
    // box-shadow: 0 2em 10em 0em rgb(0 0 0 / 40%), 0 0 4px 4px rgb(0 0 0 / 40%);
    z-index: 1;
    // opacity: 0.5;
    // margin-top: -10px;
    z-index: 500;
    padding: 0px 0 0px;

    &__inner {
        position: relative;
        z-index: 10;
        // transform: skewY(5deg);
        @include maxWidth(1280px);
        padding: 0 20px;
    }

    &__head {
        p {
            margin: 20px auto 0;
            text-shadow: 0px 4px 6px rgb(48, 45, 45);

            span {
                padding: 6px 12px;
                font-size: 18px;
                letter-spacing: 0.12em;
                color: $color-white;
                background: $color-key;
                display: inline-block;
                box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
            }
        }
    }

    &__list {
        margin-top: 3.07692%;
    }

    &__item {
        text-align: left;
        position: relative;
        @include flex($justify:center);
        align-items: center;
        flex-flow: row-reverse wrap;
        padding-bottom: 10.53846%;

        &:last-child {
            padding-bottom: 4%;

        }

        &.reverse {
            // text-align: right;
            flex-flow: row wrap;
        }

        &:nth-child(2) {
            .p-sys__detail {
                padding: 0 0 20px 4%;
            }

            .p-sys__img {
                img {
                    // transform: rotate(2deg);
                }
            }
        }
    }

    &__img {
        // border-radius: 20px;
        transition-delay: .2s;
        // outline-offset: -1px;
        // outline: 2px solid #B12330;

        &::before {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            content: "";
            z-index: 1;
            box-shadow: 0px 0px 25px rgb(255 255 255 / 60%) inset;
        }


        img {
            // box-shadow: 0 0 10px 0 rgba(239, 239, 239, 0.5);        
            // border: 3px solid rgb(0, 0, 0);
            // border: 6px solid #fff;
            // overflow: hidden;
            // transform: rotate(-2deg);

        }



        & .-obj {
            box-shadow: none;
            border: none;
            position: absolute;
            right: 0;
            bottom: -30px;
            width: 24%;
            z-index: 1;
            // animation: swing2 10s infinite alternate;

            &-left {
                // right: initial;
                // left: 0;
            }

            &2 {
                right: initial;
                left: 5%;
                bottom: -20px;
                transform: rotate(-20deg);
                width: 16%;
            }
        }
    }

    &__chara {
        width: 34%;
        position: absolute;
        z-index: 100;
        // transform: skewY(5deg);

        &--01 {
            top: 20%;
            right: 0;
        }

        &--02 {
            bottom: 18%;
            left: 0;
        }
    }

    &__detail {
        //     top: -40px;
        // position: relative;
        padding: 0 4% 20px 0;
        // color: $color-black;

        h3 {
            font-size: 24px;
            position: relative;
            display: inline-block;
            color: rgb(203, 36, 36);
            z-index: 1;
            font-weight: 600;
            text-align: center;
            
            img {
                // width: 1100%;
            }
        }

        p {
            text-shadow: black 1px 1px 7px, black -1px 1px 7px, black 1px -1px 7px, black -1px -1px 7px;
            font-size: 18px;
            // font-weight: 600;
            // margin: 20px 0 0;
            // line-height: 2;
            padding-bottom: 10px;
            border-bottom: 1px solid rgb(203, 36, 36);
            ;
        }
    }

    @include mq-target(sm) {

        &__frag {
            top: -40px;
        }

        &__arrow {
            height: 140px;
            bottom: 20px;
        }

        &__img {
            width: 54.53846%;
        }

        &__detail {
            width: 40.61538%;
        }

        &__chara {
            width: 26%;

            &--01 {
                top: 29%;
                right: 2%;
            }

            &--02 {
                bottom: 32%;
                left: 2%;
            }
        }

        &__img {
            position: relative;
            width: 50%;


        }

        &__item {
            padding-bottom: 22.53846%;
        }

        &__detail {

            h3 {
                font-weight: 600;
                font-size: 40px;
            }

            p {
                margin: 20px 0 0;
            }
        }

    }

    @include mq-target(md) {

        &__arrow {
            height: 160px;
        }

        &__item {
            padding-bottom: 10.53846%;
        }

        &__chara {
            width: 260px;

            &--01 {
                top: 30%;
            }

            &--02 {
                bottom: 28%;
            }
        }


        &__img {
            width: 54.53846%;
        }

        &__detail {

            p {
                // font-size: 14px;
            }
        }
    }
}