<% let pageId = 'home'; %>
<% let filePath = jsonData.pages[pageId].filePath %>
<%- include('./_inc/_header', { pageId: pageId }) %>


<div class="l-modal">
    <div class="l-modal__bg js-modal-close"></div>
    <div class="l-modal__inner">
        <div class="l-modal__area">
            <div class="l-modal__inner--area">
                <div class="c-modal js-modal">

                    <div class="p-chara__main">

                        <div class="p-chara__bg">
                            <ul class="p-chara__list--bg">
                                <li class="p-chara__item--bg p-chara__item--bg01"></li>
                                <li class="p-chara__item--bg p-chara__item--bg02"></li>
                                <li class="p-chara__item--bg p-chara__item--bg03"></li>
                            </ul>
                        </div>


                        <div class="swiper-container js-modal-slider p-chara__slider--modal">
                            <ul class="swiper-wrapper p-chara__slidewrap">
                                <li class="swiper-slide p-chara__slide">
                                    <div class="inview js-scroll--coverLeft">
                                        <div class="p-chara__head p-chara__head--01 inview js-scroll--fadeUp">
                                            <p class="p-chara__title">
                                                <span>“キャラクターの肩書”</span>
                                            </p>
                                            <h3 class="p-chara__name">キャラクター名</h3>
                                            <p class="p-chara__txt">
                                                <span>
                                                    親譲りの無鉄砲で小供の時から損ばかりしている。<br>小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。
                                                </span>
                                            </p>
                                            <ul class="p-chara__list--ss">
                                                <li class="p-chara__item--ss">
                                                    <figure class="c-picture__img">
                                                        <picture>
                                                            <img src="./assets/images/charaBg_01.jpg" alt="">
                                                        </picture>
                                                    </figure>
                                                </li>
                                                <li class="p-chara__item--ss">
                                                    <figure class="c-picture__img">
                                                        <picture>
                                                            <img src="./assets/images/charaBg_02.jpg" alt="">
                                                        </picture>
                                                    </figure>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="p-chara__foot">
                                            <div class="p-chara__footInner">
                                                <figure class="p-chara__img">
                                                    <img src="./assets/images/test_01.png" alt="" class="">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide p-chara__slide">
                                    <div class="inview js-scroll--coverLeft">
                                        <div class="p-chara__head p-chara__head--01 inview js-scroll--fadeUp">
                                            <p class="p-chara__title">“キャラクターの肩書”</p>
                                            <h3 class="p-chara__name">キャラクター02</h3>
                                            <p class="p-chara__txt">
                                                <span>
                                                    親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。
                                                </span>
                                            </p>
                                            <ul class="p-chara__list--ss inview">
                                                <li class="p-chara__item--ss">
                                                    <figure class="c-picture__img">
                                                        <picture>
                                                            <img src="./assets/images/charaBg_01.jpg" alt="">
                                                        </picture>
                                                    </figure>
                                                </li>
                                                <li class="p-chara__item--ss">
                                                    <figure class="c-picture__img">
                                                        <picture>
                                                            <img src="./assets/images/charaBg_02.jpg" alt="">
                                                        </picture>
                                                    </figure>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="p-chara__foot">
                                            <div class="p-chara__footInner">
                                                <figure class="p-chara__img">
                                                    <img src="./assets/images/test_02.png" alt="">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide p-chara__slide">
                                    <div class="inview js-scroll--coverLeft">
                                        <div class="p-chara__head p-chara__head--01">
                                            <p class="p-chara__title">“キャラクターの肩書”</p>
                                            <h3 class="p-chara__name">キャラクター03</h3>
                                            <p class="p-chara__txt">
                                                <span>
                                                    親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。
                                                </span>
                                            </p>
                                            <ul class="p-chara__list--ss inview">
                                                <li class="p-chara__item--ss">
                                                    <figure class="c-picture__img">
                                                        <picture>
                                                            <img src="./assets/images/charaBg_01.jpg" alt="">
                                                        </picture>
                                                    </figure>
                                                </li>
                                                <li class="p-chara__item--ss">
                                                    <figure class="c-picture__img">
                                                        <picture>
                                                            <img src="./assets/images/charaBg_02.jpg" alt="">
                                                        </picture>
                                                    </figure>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="p-chara__foot">
                                            <div class="p-chara__footInner">
                                                <figure class="p-chara__img">
                                                    <img src="./assets/images/test_03.png" alt="">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>


                        <button class="c-modal__btn--close js-modal-close">
                            <span></span>
                            <span></span>
                        </button>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<main class="l-main">
    <section id="keyvisual" class="p-kv">

        <div class="p-kv__inner">
            <div class="p-concept__inner">

                <p class="p-kv__catch">
                    <span class="inview js-scroll--fadeUp">
                        <img src="./assets/images/download.png" alt="">
                    </span>
                </p>

                <p class="p-kv__object">
                    <span class="inview">
                        <img src="./assets/images/test_03_beta.png" alt="">
                    </span>
                </p>

            </div>
        </div>

    </section>


    <div class="p-story__bg" style="transform: scale(1, -1); margin-top: -11%;"></div>




    <section class="c-sec p-movie">
        <div class="smoke smoke__top"></div>
        <div class="p-movie__inner">
            <div class="inview js-scroll--scaleUp p-movie__header" style="text-align: left;">
                <h2 class="c-sec__ttl" style="margin: 0;">
                    <span class="-en">movie</span>
                    <span class="-ja">映像情報</span>
                </h2>
                <div class="p-movie-slider__btn">
                    <div class="p-movie-slider__btnPrev"></div>
                    <div class="p-movie-slider__btnNext"></div>
                </div>

            </div>

            <div class="swiper p-movie-slider__container">
                <ul class="swiper-wrapper p-movie-slider__wrap">
                    <li class="swiper-slide p-movie-slider__slide">
                        <a href="/work/detail" class="inview p-movie-figure__link">

                            <figure class="c-picture__img p-movie-figure__img">
                                <picture>
                                    <img src="./assets/images/thumb_03.jpg" alt="メインビジュアル">
                                </picture>
                            </figure>
                            <figcaption class="p-movie-figure__info">
                                <ul class="p-movie-figure__labels">
                                    <li class="date">2022.01.06</li>
                                    <li class="info">お知らせ</li>
                                </ul>
                                <strong class="p-movie-figure__heading">
                                    ネット配信についてのガイドラインを公開しました。
                                </strong>
                            </figcaption>
                        </a>
                    </li>
                    <li class="swiper-slide p-movie-slider__slide">
                        <a href="#chara" class="inview p-movie-figure__link">
                            <figure class="c-picture__img p-movie-figure__img">
                                <picture>
                                    <img src="./assets/images/thumb_01.jpg" alt="メインビジュアル">
                                </picture>
                            </figure>
                            <figcaption class="p-movie-figure__info">
                                <ul class="p-movie-figure__labels">
                                    <li class="date">2022.01.06</li>
                                    <li class="info">更新情報</li>
                                </ul>
                                <strong class="p-movie-figure__heading">
                                    アップデートファイル配信のお知らせ
                                </strong>
                            </figcaption>
                        </a>
                    </li>
                    <li class="swiper-slide p-movie-slider__slide">
                        <a href="/work/detail" class="inview p-movie-figure__link">
                            <figure class="c-picture__img p-movie-figure__img">
                                <picture>
                                    <img src="./assets/images/story__ss.jpg" alt="メインビジュアル">
                                </picture>
                            </figure>
                            <figcaption class="p-movie-figure__info">
                                <ul class="p-movie-figure__labels">
                                    <li class="date">2022.01.02</li>
                                    <li class="info">更新情報</li>
                                </ul>
                                <strong class="p-movie-figure__heading">
                                    アップデートファイル配信のお知らせ
                                </strong>
                            </figcaption>
                        </a>
                    </li>
                    <li class="swiper-slide p-movie-slider__slide">
                        <a href="/work/detail" class="inview p-movie-figure__link">
                            <figure class="c-picture__img p-movie-figure__img">
                                <picture>
                                    <img src="./assets/images/story_bg2.jpg" alt="メインビジュアル">
                                </picture>
                            </figure>
                            <figcaption class="p-movie-figure__info">
                                <ul class="p-movie-figure__labels">
                                    <li class="date">2022.01.02</li>
                                    <li class="info">更新情報</li>
                                </ul>
                                <strong class="p-movie-figure__heading">
                                    アップデートファイル配信のお知らせ
                                </strong>
                            </figcaption>
                        </a>
                    </li>
                    <li class="swiper-slide p-movie-slider__slide">
                        <a href="/work/detail" class="inview p-movie-figure__link">
                            <figure class="c-picture__img p-movie-figure__img">
                                <picture>
                                    <img src="./assets/images/story__ss.jpg" alt="メインビジュアル">
                                </picture>
                            </figure>
                            <figcaption class="p-movie-figure__info">
                                <ul class="p-movie-figure__labels">
                                    <li class="date">2022.01.02</li>
                                    <li class="info">更新情報</li>
                                </ul>
                                <strong class="p-movie-figure__heading">
                                    アップデートファイル配信のお知らせ
                                </strong>
                            </figcaption>
                        </a>
                    </li>
                </ul>
                <!-- <div class="swiper-controller p-movie-slider__controller">
                    <div class="swiper-pagination p-movie-slider__pagi" style="width: 30%"></div>
                    <a href="" class="p-movie__btn">
                        <img src="./assets/images/btn2.png" alt="">
                    </a>
                    <div class="" style="width: 30%; display: flex; flex-direction: row-reverse;">
                        <div class="p-movie-slider__btnNext"></div>
                        <div class="p-movie-slider__btnPrev"></div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="smoke smoke__bottom"></div>
    </section>


    <section class="c-sec p-news">
        <div class="smoke smoke__top"></div>
        <div class="p-news__inner">
            <div class="inview js-scroll--scaleUp" style="text-align: left;">
                <h2 class="c-sec__ttl">
                    <span class="-en">news</span>
                    <span class="-ja">更新情報</span>
                </h2>
            </div>
            <ul class="p-news__list">
                <li class="p-news__item">
                    <a href="">
                        <h3>2022.12.25</h3>
                        <h2>更新情報を公開しました</h2>
                    </a>
                </li>
                <li class="p-news__item">
                    <a href="">
                        <h3>2022.12.25</h3>
                        <h2>更新情報を公開しました</h2>
                    </a>
                </li>
                <li class="p-news__item">
                    <a href="">
                        <h3>2022.12.25</h3>
                        <h2>更新情報を公開しました</h2>
                    </a>
                </li>
                <li class="p-news__item u-dp-pc--sm">
                    <a href="">
                        <h3>2022.12.25</h3>
                        <h2>更新情報を公開しました</h2>
                    </a>
                </li>
                <li class="p-news__item u-dp-pc--sm">
                    <a href="">
                        <h3>2022.12.25</h3>
                        <h2>更新情報を公開しました</h2>
                    </a>
                </li>
                <li class="p-news__item u-dp-pc--sm">
                    <a href="">
                        <h3>2022.12.25</h3>
                        <h2>更新情報を公開しました</h2>
                    </a>
                </li>
            </ul>

        </div>


        <div class="smoke smoke__bottom"></div>

    </section>


    <div class="" style="position: relative;">
        <div class="p-story__bg"></div>
        <div class="p-story__bg" style="transform: scale(1, -1);"></div>
    </div>

    <section id="plologue" class="c-sec p-story inview">

        <div class="smoke smoke__top"></div>
        <div class="p-story__inner">

            <ul class="p-story__list">
                <li class="p-story__item--left">
                    <div class="p-story-content">
                        <div class="p-story-content__txt">
                            <div class="inview js-scroll--scaleUp">
                                <h2 class="c-sec__ttl" style="margin: 0; text-align: left;">
                                    <span class="-en">PROLOGUE</span>
                                    <span class="-ja">序章</span>
                                </h2>
                            </div>
                            <!-- <h4 class="inview js-scroll--scaleUp">
                                「殺人鬼と幽霊」
                            </h4> -->
                            <p class="inview js-scroll-slideView-delay">
                                心霊スポットに出掛けた“少女2人”が謎の失踪……<br />伝説の廃墟・坪野鉱泉を巡る「神隠し事件」24年目の真実
                            </p>
                            <p class="inview js-scroll-slideView-delay">
                                事件のはじまりは、1996年5月5日夜のことだった。<br />当時19歳だった2人の少女は、家族に「肝試しに行く」<br />と言ってメッセージを残し、行方不明になった。
                            </p>
                            <p class="inview js-scroll-slideView-delay">
                                魚津市には、北陸随一の心霊スポットと言われている廃墟がある。<br />1982年に廃業した8階建ての温泉旅館で坪野鉱泉と呼ばれている。
                            </p>
                            <p class="inview js-scroll-slideView-delay">
                                夏場には肝試しの若者たちが集まり、<br />富山県内外の暴走族の溜まり場にもなっていた...
                            </p>
                        </div>
                    </div>
                </li>
                <li class="p-story__item--right">
                    <span class="p-story-movie">
                        <a href="">
                            <div style="position: relative;">
                                <!-- <div class="smoke smoke__top"></div> -->
                                <figure class="p-story-movie__img inview">
                                    <img src="./assets/images/phone.png" alt="">
                                </figure>
                                <!-- <figure class="p-story-movie__keyboard">
                                    <img src="./assets/images/keyboard.png" alt="" class="inview js-scroll--slideLeft">
                                </figure> -->
                                <!-- <div class="smoke smoke__bottom"></div> -->
                            </div>
                        </a>
                    </span>
                </li>
            </ul>

        </div>
        <div class="smoke smoke__bottom"></div>

    </section>


    <div class="" style="position: relative;">
        <div class="p-story__bg"></div>
        <div class="p-story__bg" style="transform: scale(1, -1);"></div>
    </div>


    <section id="story" class="p-chara">


        <div class="smoke smoke__top"></div>



        <div class="p-chara__inner">
            <div class="p-chara__bg">
                <ul class="p-chara__list--bg">
                    <li class="p-chara__item--bg p-chara__item--bg01"></li>
                    <li class="p-chara__item--bg p-chara__item--bg02"></li>
                    <li class="p-chara__item--bg p-chara__item--bg03"></li>
                </ul>
            </div>



            <div class="swiper-container p-chara__slider">

                <!-- <h2 class="c-sec__ttl u-dp-sp--sm">
                    <span class="-en">STORY</span>
                    <span class="-ja">物語</span>
                </h2> -->

                <div class="p-chara__tab u-dp-sp--sm" style="z-index: 100;">
                    <h2 class="c-sec__ttl u-dp-sp--sm">
                        <span class="-en">STORY</span>
                        <span class="-ja">物語</span>
                    </h2>
                    <h3>CHAPTER LIST</h3>
                    <ul class="p-chara__list--tab">
                        <li class="p-chara__item--tab js-chara-tab is-active inview" data-num="0">
                            第一章「邂逅」
                            <span class="">
                            </span>
                        </li>
                        <li class="p-chara__item--tab js-chara-tab inview" data-num="1">
                            <figure>
                            </figure>
                            第二章「遭遇」
                        </li>
                        <li class="p-chara__item--tab js-chara-tab inview" data-num="2">
                            <figure>
                            </figure>
                            第三章「遭遇」
                        </li>
                    </ul>

                </div>



                <div class="swiper-wrapper" style="align-items: flex-end;">

                    <div class="swiper-slide js-modal-open">


                        <div class="p-chara__contents">
                            <figure class="p-chara__img p-chara__img--one">
                                <!-- <img src="./assets/images/test_05.png" alt=""> -->
                            </figure>
                            <ul class="p-chara__list--contents">
                                <!-- <li class="p-chara__item--contents-L">
                                </li> -->
                                <li class="p-chara__item--contents-R">
                                    <h3 class="p-chara__name">第一章</h3>
                                    <p class="p-chara__cv">
                                        「邂逅」
                                    </p>

                                    <p class="p-chara__txt">
                                        図書室に隠された日誌を読むと姿を現す<br />
                                        日誌を読んだ人間を外界と途絶された四方塚町に閉じ込め、<br />命を狙い続ける怪人物<br />
                                        性格が悪く、獲物はすぐに殺さず寝かせるタイプ。<br />
                                        異界に取り込まれてしまった人々と協力して立ち向かおう
                                    </p>

                                    <p class="p-chara__txt">
                                        図書室に隠された日誌を読むと姿を現す<br />
                                        日誌を読んだ人間を外界と途絶された四方塚町に閉じ込め、<br />命を狙い続ける怪人物<br />
                                        性格が悪く、獲物はすぐに殺さず寝かせるタイプ。<br />
                                        異界に取り込まれてしまった人々と協力して立ち向かおう
                                    </p>
                                    <p class="p-chara__txt">
                                        図書室に隠された日誌を読むと姿を現す<br />
                                        日誌を読んだ人間を外界と途絶された四方塚町に閉じ込め、<br />命を狙い続ける怪人物<br />
                                        性格が悪く、獲物はすぐに殺さず寝かせるタイプ。<br />
                                        異界に取り込まれてしまった人々と協力して立ち向かおう
                                    </p>

                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="swiper-slide js-modal-open">


                        <div class="p-chara__contents">
                            <figure class="p-chara__img p-chara__img--three">
                                <!-- <img src="./assets/images/chara01.webp" alt=""> -->
                            </figure>
                            <ul class="p-chara__list--contents">
                                <!-- <li class="p-chara__item--contents-L">
                                </li> -->
                                <li class="p-chara__item--contents-R">
                                    <h3 class="p-chara__name">第二章</h3>
                                    <p class="p-chara__cv">
                                        遭遇
                                    </p>

                                    <p class="p-chara__txt">
                                        図書室に隠された日誌を読むと姿を現す<br />
                                        日誌を読んだ人間を外界と途絶された四方塚町に閉じ込め、<br />命を狙い続ける怪人物<br />
                                        性格が悪く、獲物はすぐに殺さず寝かせるタイプ。<br />
                                        異界に取り込まれてしまった人々と協力して立ち向かおう
                                    </p>

                                </li>
                            </ul>
                        </div>


                    </div>
                </div>

                <div class="p-chara__tab u-dp-pc--sm" style="z-index: 100;">
                    <h2 class="c-sec__ttl u-dp-pc--sm">
                        <span class="-en">STORY</span>
                        <span class="-ja">物語</span>
                    </h2>
                    <h3 class="" style="margin: 20px 0 0;">CHAPTER LIST</h3>
                    <ul class="p-chara__list--tab">
                        <li class="p-chara__item--tab js-chara-tab is-active inview" data-num="0">
                            第一章「邂逅」
                            <span class="">
                            </span>
                        </li>
                        <li class="p-chara__item--tab js-chara-tab inview" data-num="1">
                            <figure>
                            </figure>
                            第二章「遭遇」
                        </li>
                    </ul>

                </div>
            </div>




            <div class="smoke smoke__bottom"></div>
        </div>


    </section>

    <div class="p-story__bg"></div>

    <div class="p-story__bg" style="transform: scale(1, -1);"></div>


    <section id="chara" class="p-gallery">
        <div class="smoke smoke__top"></div>

        <!-- <div class="smoke smoke__top"></div> -->
        <div class="p-gallery__inner">
            <!-- <h2 class="c-sec__ttl" style="margin: 0;">
                <span class="-en inview js-scroll--slideRight">FFEATURE</span>
                <span class="-ja">特徴</span>
            </h2> -->


            <div id="demo08" class="gallery02 l-section">
                <div class="l-inner">

                    <div class="p-cha__header">

                        <h2 class="c-sec__ttl p-cha__ttl">
                            <span class="-en inview">CHARACTER</span>
                            <span class="-ja">登場人物</span>
                        </h2>

                        <ul class="thumb-wrapper p-cha-slider__list--thumb">
                            <li class="thumb-media p-cha-slider__item--thumb"><img src="./assets/images/story__ss.jpg"
                                    alt=""></li>
                            <li class="thumb-media p-cha-slider__item--thumb"><img src="./assets/images/story_ss01.jpg"
                                    alt=""></li>
                            <li class="thumb-media p-cha-slider__item--thumb"><img src="./assets/images/story__ss.jpg"
                                    alt=""></li>
                            <li class="thumb-media p-cha-slider__item--thumb"><img src="./assets/images/story_ss01.jpg"
                                    alt=""></li>
                        </ul>



                    </div>



                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide p-cha-slider__item--slide">
                                <figure class="slide">
                                    <div class="slide-media inview js-scroll--slideLeft">
                                        <div class="p-cha-prof__bg">
                                            <div class="p-sys-content__detail">

                                                <div class="p-sys-content__ttl">
                                                    <p>-&nbsp;YUKA&nbsp;-</p>
                                                    <h3>ユカ</h3>
                                                </div>
                                                <p class="p-sys-content__txt" style="font-size: 16px;">
                                                    西博士の助手。肉体改造を施された怪力少年。<br />
                                                    見た目と裏腹に人間的な道徳や善悪の概念をまったく持ち合せておらず、<br />
                                                    残酷な殺人にも一切の躊躇がない。<br />
                                                    普段の振る舞いは年相応に幼いが、したたかな計算高さも持ち合わせており、<br />無邪気かつ狡猾に他者を翻弄する。
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </figure>
                                <figure class="p-cha__img p-cha__img--thr inview js-scroll--turn">
                                    <img src="./assets/images/test_02.png" alt="" class="">
                                    <div class="p-cha-prof__line">
                                        <p>コロンビアネクタイって知ってる？</p><br>
                                        <p>喉から舌を引っ張り出すんだよ</p>
                                    </div>
                                </figure>
                            </div>

                            <div class="swiper-slide p-cha-slider__item--slide">
                                <figure class="slide">
                                    <div class="slide-media">
                                        <div class="p-cha-prof__bg">
                                            <div class="p-sys-content__detail">

                                                <div class="p-sys-content__ttl">
                                                    <p>-&nbsp;Dr. WEST&nbsp;-</p>
                                                    <h3>西博士</h3>
                                                </div>
                                                <p class="p-sys-content__txt" style="font-size: 16px;">
                                                    ゴーストについての研究を行っている科学者で郊外にある屋敷で暮らしている。<br />
                                                    基本的には温厚な性格で、声を荒げるようなことは滅多にない。<br />
                                                    だが、西にとってはこの世の全てのものが実験対象であるため、<br />
                                                    時として非常な人体実験を行うことも珍しくない。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                                <figure class="p-cha__img p-cha__img--sec">
                                    <img src="./assets/images/test_01.png" alt="">
                                    <div class="p-cha-prof__line" style="right: -40%;">
                                        <p>ミルクで感覚がより鋭くなる。</p><br>
                                        <p>”ウルトラ・バイオレンス”の準備完了だ</p>
                                    </div>
                                </figure>

                            </div>
                            <div class="swiper-slide p-cha-slider__item--slide">

                                <figure class="slide">
                                    <div class="slide-media">
                                        <div class="p-cha-prof__bg">
                                            <div class="p-sys-content__detail">

                                                <div class="p-sys-content__ttl">
                                                    <p>-&nbsp;BUSTER&nbsp;-</p>
                                                    <h3>ゴーストバスター</h3>
                                                </div>
                                                <p class="p-sys-content__txt">
                                                    物語の主人公<br />
                                                    西博士によって造りだされた人間とゴーストを組み合わせた生命体<br />
                                                    ゴーストに物理的に接触することができ、超人的な身体能力で狩りを行う。<br />
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                                <figure class="p-cha__img">
                                    <img src="./assets/images/test_05.png" alt="">
                                </figure>
                            </div>
                        </div><!-- /swiper-wrapper -->
                        <div class="swiper-controller">
                            <div class="swiper-button-prev p-movie-slider__btnPrev"></div>
                            <div class="swiper-button-next p-movie-slider__btnNext"></div>
                        </div>
                    </div><!-- /swiper-main -->



                </div>
            </div>

            <div class="smoke smoke__bottom"></div>
        </div>

    </section>

    <div class="p-story__bg"></div>
    <!-- <div class="p-story__bg" style="transform: scale(1, -1);"></div> -->



    <section id="system" class="c-sec p-sys">
        <!-- <div class="smoke smoke__top"></div> -->
        <h2 class="c-sec__ttl" style="margin-top: 20px;">
            <span class="-en">SYSTEM</span>
            <span class="-ja">進行方法</span>
        </h2>

        <div class="p-sys__inner js-slider-wrap">


            <div class="js-slider-thumb">
                <ul class="swiper-wrapper c-slider__list--thumb p-sys-nav__list">
                    <li class="swiper-slide c-slider__item--thumb p-sys-nav__item">
                        <span>狩猟</span>
                    </li>
                    <li class="swiper-slide c-slider__item--thumb p-sys-nav__item">
                        <span>情報収集</span>
                    </li>
                    <li class="p-sys-nav__item c-slider__item--thumb" style="pointer-events: none;">
                        <span>COMING SOON</span>
                    </li>
                </ul>
            </div>

            <div class="swiper c-slider__main p-sys-slider js-slider-main">

                <ul class="swiper-wrapper c-slider__list--main p-sys-slider__wrap">
                    <li class="swiper-slide c-slider__item--main p-sys-slider__item">
                        <div class="p-sys-content__detail">

                            <div class="p-sys-content__ttl">
                                <p>FEAST</p>
                                <h3>狩猟・凌辱</h3>
                            </div>
                            <p class="p-sys-content__txt">
                                物語を進めていくと、探索パートが発生します。<br />
                                探索パートは、背景を調べてアイテムをゲットしたり、キャラクターから情報を貰い、謎解きをするパートです。<br />
                                「探索開始！」の演出が入ったあと探索モードに自動で切り替わります。
                                背景をタップしたり、時には場所の移動もして、キャラクターに聞き込みを行ったりして情報や証拠を集めていきましょう。
                            </p>
                        </div>
                        <div class="p-sys-content__thumb">
                            <figure class="p-sys-content__img">
                                <a href="./assets/images/chara_bg_02.jpg" data-lity>
                                    <img src="./assets/images/sys_bg.jpg" alt="">
                                </a>
                            </figure>
                            <figure class="p-sys-content__img">
                                <a href="./assets/images/chara_bg_02.jpg" data-lity>
                                    <img src="./assets/images/system_01.jpg" alt="">
                                </a>
                            </figure>
                        </div>
                    </li>
                    <li class="swiper-slide c-slider__item--main p-sys-slider__item">
                        <div class="p-sys-content__detail">

                            <div class="p-sys-content__ttl">
                                <p>JOURNEY</p>
                                <h3>情報収集・探索</h3>
                            </div>
                            <p class="p-sys-content__txt">
                                物語を進めていくと、探索パートが発生します。<br />
                                探索パートは、背景を調べてアイテムをゲットしたり、キャラクターから情報を貰い、謎解きをするパートです。<br />
                                「探索開始！」の演出が入ったあと探索モードに自動で切り替わります。
                                背景をタップしたり、時には場所の移動もして、<br />キャラクターに聞き込みを行ったりして情報や証拠を集めていきましょう。
                            </p>
                        </div>
                        <div class="p-sys-content__thumb">
                            <figure class="p-sys-content__img">
                                <a href="./assets/images/chara_bg_02.jpg" data-lity>
                                    <img src="./assets/images/sys_bg.jpg" alt="">
                                </a>
                            </figure>
                            <figure class="p-sys-content__img">
                                <a href="./assets/images/chara_bg_02.jpg" data-lity>
                                    <img src="./assets/images/system_01.jpg" alt="">
                                </a>
                            </figure>
                        </div>
                    </li>
                </ul>

                <div class="swiper-controller">
                    <div class="swiper-button-next js-slider-btnNext c-slider__btnNext"></div>
                    <div class="swiper-button-prev js-slider-btnPrev c-slider__btnPrev"></div>
                </div>
            </div>

        </div>

        <!-- <div class="smoke smoke__bottom"></div> -->
    </section>




    <div class="p-story__bg"></div>


    <section id="product" class="c-sec p-sys">
        <!-- <div class="smoke smoke__top"></div> -->
        <h2 class="c-sec__ttl" style="margin-top: 20px;">
            <span class="-en">PRODUCT</span>
            <span class="-ja">製品情報</span>
        </h2>

        <div class="p-sys__inner js-slider-wrap">


            <div class="js-slider-thumb">
                <ul class="swiper-wrapper c-slider__list--thumb p-sys-nav__list">
                    <li class="swiper-slide c-slider__item--thumb p-sys-nav__item">
                        <span>Steam</span>
                    </li>
                    <li class="swiper-slide c-slider__item--thumb p-sys-nav__item">
                        <span>Switch</span>
                    </li>
                    <li class="p-sys-nav__item c-slider__item--thumb" style="pointer-events: none;">
                        <span>COMING SOON</span>
                    </li>
                </ul>
            </div>

            <div class="swiper c-slider__main p-sys-slider js-slider-main">

                <ul class="swiper-wrapper c-slider__list--main p-sys-slider__wrap">
                    <li class="swiper-slide c-slider__item--main p-sys-slider__item">
                        <div class="p-product__pack">
                            <figure class="p-product__img">
                                <a href="./assets/images/chara_bg_02.jpg" data-lity>
                                    <img src="./assets/images/product__pack01.jpg" alt="">
                                </a>
                            </figure>
                            <dl class="p-product__list--detail">
                                <dt>タイトル</dt>
                                <dd>GHOST</dd>
                                <dt>ジャンル</dt>
                                <dd>サイコホラー</dd>
                                <dt>発売日</dt>
                                <dd>4100年1月1日</dd>
                                <dt>価格</dt>
                                <dd>
                                    <span>通常版：9,999円</span>
                                </dd>
                                <dt>対象年齢</dt>
                                <dd>Z（18才以上対象）</dd>
                            </dl>
                        </div>
                    </li>
                    <li class="swiper-slide c-slider__item--main p-sys-slider__item">
                        <div class="p-product__pack">
                            <figure class="p-product__img">
                                <a href="./assets/images/chara_bg_02.jpg" data-lity>
                                    <img src="./assets/images/product__pack02.png" alt="">
                                </a>
                            </figure>
                            <dl class="p-product__list--detail">
                                <dt>タイトル</dt>
                                <dd>GHOST</dd>
                                <dt>ジャンル</dt>
                                <dd>サイコホラー</dd>
                                <dt>発売日</dt>
                                <dd>4100年1月1日</dd>
                                <dt>価格</dt>
                                <dd>
                                    <span>通常版：9,999円</span>
                                </dd>
                                <dt>対象年齢</dt>
                                <dd>Z（18才以上対象）</dd>
                            </dl>
                        </div>
                    </li>
                </ul>

                <div class="swiper-controller">
                    <div class="swiper-button-next js-slider-btnNext c-slider__btnNext"></div>
                    <div class="swiper-button-prev js-slider-btnPrev c-slider__btnPrev"></div>
                </div>
            </div>

        </div>

        <!-- <div class="smoke smoke__bottom"></div> -->
    </section>

    <!-- <div class="p-story__bg" style="transform: scale(1, -1);"></div> -->



    <!-- <section id="product" class="p-product">
        <div class="p-product__inner">
            <h2 class="c-sec__ttl" style="margin-top: 20px;">
       
                <span class="-en">PRODUCT</span>
                <span class="-ja">製品情報</span>
            </h2>

            <ul class="p-product__list">
                <li class="p-product__item--left">
                    <figure class="p-product__img">
                        <img src="./assets/images/Front.png" alt="">
                    </figure>
                </li>
                <li class="p-product__item--right">
                    <dl class="p-product__list--detail">
                        <dt>タイトル</dt>
                        <dd>作品タイトル</dd>
                        <dt>ジャンル</dt>
                        <dd>サイコホラー</dd>
                        <dt>機種</dt>
                        <dd>Nintendo Switch™PlayStation®4</dd>
                        <dt>発売日</dt>
                        <dd>4100年1月1日</dd>
                        <dt>価格</dt>
                        <dd>
                            <span>通常版：9,999円</span>
                            <span>ダウンロード版：9,999円</span>
                        </dd>
                        <dt>対象年齢</dt>
                        <dd>Z（18才以上対象）</dd>
                    </dl>
                </li>
            </ul>

            <div class="p-mv__info" style="width: 600px; margin: 40px auto 0;">

            </div>

        </div>
    </section> -->







    <!-- <div class="smoke smoke__right"></div>
    <div class="smoke smoke__left"></div> -->

    <!-- <div class="p-mv__fog">
        <div class="p-mv__fog--img p-mv__fog--first"></div>
        <div class="p-mv__fog--img p-mv__fog--second"></div>
    </div> -->
</main>





<%- include('./_inc/_footer', { pageId: pageId }) %>