<% let pageId = 'home'; %>
<% let filePath = jsonData.pages[pageId].filePath %>
<%- include('./_inc/_header', { pageId: pageId }) %>


<div class="l-modal">
    <div class="l-modal__bg js-modal-close"></div>
    <div class="l-modal__inner">
        <div class="l-modal__area">
            <div class="l-modal__inner--area">
                <div class="c-modal js-modal">

                    <div class="p-chara__main">

                        <div class="p-chara__bg">
                            <ul class="p-chara__list--bg">
                                <li class="p-chara__item--bg p-chara__item--bg01"></li>
                                <li class="p-chara__item--bg p-chara__item--bg02"></li>
                                <li class="p-chara__item--bg p-chara__item--bg03"></li>
                            </ul>
                        </div>


                        <div class="swiper-container js-modal-slider p-chara__slider--modal">
                            <ul class="swiper-wrapper p-chara__slidewrap">
                                <li class="swiper-slide p-chara__slide">
                                    <div class="inview js-scroll--coverLeft">
                                        <div class="p-chara__head p-chara__head--01 inview js-scroll--fadeUp">
                                            <p class="p-chara__title">
                                                <span>“キャラクターの肩書”</span>
                                            </p>
                                            <h3 class="p-chara__name">キャラクター名</h3>
                                            <p class="p-chara__txt">
                                                <span>
                                                    親譲りの無鉄砲で小供の時から損ばかりしている。<br>小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。
                                                </span>
                                            </p>
                                            <ul class="p-chara__list--ss">
                                                <li class="p-chara__item--ss">
                                                    <figure class="c-picture__img">
                                                        <picture class="c-picture__img--inner">
                                                            <img src="./assets/images/charaBg_01.jpg" alt="">
                                                        </picture>
                                                    </figure>
                                                </li>
                                                <li class="p-chara__item--ss">
                                                    <figure class="c-picture__img">
                                                        <picture class="c-picture__img--inner">
                                                            <img src="./assets/images/charaBg_02.jpg" alt="">
                                                        </picture>
                                                    </figure>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="p-chara__foot">
                                            <div class="p-chara__footInner">
                                                <figure class="p-chara__img">
                                                    <img src="./assets/images/test_01.png" alt="" class="">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide p-chara__slide">
                                    <div class="inview js-scroll--coverLeft">
                                        <div class="p-chara__head p-chara__head--01 inview js-scroll--fadeUp">
                                            <p class="p-chara__title">“キャラクターの肩書”</p>
                                            <h3 class="p-chara__name">キャラクター02</h3>
                                            <p class="p-chara__txt">
                                                <span>
                                                    親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。
                                                </span>
                                            </p>
                                            <ul class="p-chara__list--ss inview">
                                                <li class="p-chara__item--ss">
                                                    <figure class="c-picture__img">
                                                        <picture class="c-picture__img--inner">
                                                            <img src="./assets/images/charaBg_01.jpg" alt="">
                                                        </picture>
                                                    </figure>
                                                </li>
                                                <li class="p-chara__item--ss">
                                                    <figure class="c-picture__img">
                                                        <picture class="c-picture__img--inner">
                                                            <img src="./assets/images/charaBg_02.jpg" alt="">
                                                        </picture>
                                                    </figure>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="p-chara__foot">
                                            <div class="p-chara__footInner">
                                                <figure class="p-chara__img">
                                                    <img src="./assets/images/test_02.png" alt="">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide p-chara__slide">
                                    <div class="inview js-scroll--coverLeft">
                                        <div class="p-chara__head p-chara__head--01">
                                            <p class="p-chara__title">“キャラクターの肩書”</p>
                                            <h3 class="p-chara__name">キャラクター03</h3>
                                            <p class="p-chara__txt">
                                                <span>
                                                    親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。
                                                </span>
                                            </p>
                                            <ul class="p-chara__list--ss inview">
                                                <li class="p-chara__item--ss">
                                                    <figure class="c-picture__img">
                                                        <picture class="c-picture__img--inner">
                                                            <img src="./assets/images/charaBg_01.jpg" alt="">
                                                        </picture>
                                                    </figure>
                                                </li>
                                                <li class="p-chara__item--ss">
                                                    <figure class="c-picture__img">
                                                        <picture class="c-picture__img--inner">
                                                            <img src="./assets/images/charaBg_02.jpg" alt="">
                                                        </picture>
                                                    </figure>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="p-chara__foot">
                                            <div class="p-chara__footInner">
                                                <figure class="p-chara__img">
                                                    <img src="./assets/images/test_03.png" alt="">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>


                        <button class="c-modal__btn--close js-modal-close">
                            <span></span>
                            <span></span>
                        </button>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<main class="l-main">
    <div class="c-sec__bg inview">
        <div class="c-sec__bg--img glitch">
            <div class="channel r"></div>
            <div class="channel g"></div>
            <div class="channel b"></div>
            <div class="c-sec__obj">
                <div class="inview js-scroll--fadeDown"></div>
            </div>
        </div>
    </div>

    <section class="p-mv">
        <div class="p-mv__heading">

            <div class="p-mv__inner--heading">
                <h1 class="inview js-scroll--slideRight">
                    <img src="./assets/images/title.png" alt="">
                    <!-- THE BLACK PHONE -->
                </h1>
                <div class="p-mv__info">
                    <p><span>2023.03.24 ON SALE</span></p>
                    <ul class="p-banner__list">
                        <li class="p-banner__item">
                            <a href="">
                                <img src="./assets/images/banner_01.png" alt="">
                            </a>
                        </li>
                        <li class="p-banner__item">
                            <a href="">
                                <img src="./assets/images/ps4.png" alt="">
                            </a>
                        </li>
                        <li class="p-banner__item">
                            <a href="">
                                <img src="./assets/images/steam.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>



        </div>


        <!-- <dl class="p-mv__banner u-dp-pc">
            <dt>GAME TRAILER</dt>
            <dd class="p-mv__pv">
                <a href="#">
                    <img src="./assets/images/main_bg_beta.png" alt="">
                </a>
            </dd>

        </dl> -->



        <div class="p-mv__inner">

        </div>
        <!-- <div class="smoke smoke__bottom"></div> -->
    </section>

    <menu style="position: relative;">
        <ul>
            <li>
                <a href="#top">
                    <span class="-en">TOP</span>
                    <span class="-jp">トップ</span>
                </a>
            </li>
            <li>
                <a href="#about">
                    <span class="-en">STORY</span>
                    <span class="-jp">ストーリー</span>
                </a>
            </li>
            <li>
                <a href="#chara">
                    <span class="-en">CHARACTERS</span>
                    <span class="-jp">キャラクター</span>
                </a>
            </li>
            <li>
                <a href="#system">
                    <span class="-en">SYSTEM</span>
                    <span class="-jp">システム</span>
                </a>
            </li>
            <li>
                <a href="#gallery">
                    <span class="-en">GALLERY</span>
                    <span class="-jp">ギャラリー</span>
                </a>
            </li>
            <li>
                <a href="#product">
                    <span class="-en">PRODUCT</span>
                    <span class="-jp">製品情報</span>
                </a>
            </li>
        </ul>
    </menu>


    <section class="p-movie">
        <div class="p-movie__inner">
            <!-- <h2 class="c-sec__ttl" style="margin-top: 20px;">
                <img src="./assets/images/typo_movie.png" alt="" style="width: 580px;">
            </h2> -->
            <!-- <h2 class="c-sec__ttl">
                <span class="-en">MOVIE</span>
                <span class="-ja">- ゲームトレイラー -</span>
            </h2> -->
            <div class="p-movie__wrap">
                <a href="">
                    <img src="./assets/images/monitor.png" alt="">
                </a>
            </div>
        </div>
        <div class="smoke smoke__bottom smoke__bottom--movie"></div>
    </section>

    <!-- <dl class="p-mv__banner u-dp-pc">
        <dt>ゲームトレイラー</dt>
        <dd class="p-mv__pv">
            <a href="#">
            </a>
        </dd>
    </dl> -->
    <section class="p-news">
        <div class="smoke smoke__top"></div>


        <div class="p-news__inner">
            <!-- <h2 class="c-sec__ttl">
                <img src="./assets/images/typo_news.png" alt="" style="width: 520px;">
            </h2> -->
            <h2 class="c-sec__ttl">
                <img src="./assets/images/title_chara.png" alt="" style="width: 360px;">

            </h2>

            <div class="swiper-container c-slider index__slider js-index-slider">
                <div class="swiper-wrapper c-slider__wrap index__slideWrap">
                    <div class="swiper-slide c-slider__slide index__slide">
                        <a href="/work/detail" class="inview">
                            <figure class="c-picture__img p-news__img">
                                <picture class="c-picture__img--inner">
                                    <img src="./assets/images/gallery_img_3.png" alt="メインビジュアル">
                                </picture>
                            </figure>
                            <div class="p-news__detail">
                                <p class="p-news__txt">
                                    <span>2020年12月1日</span>
                                    アップデートファイル配信のお知らせ
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide c-slider__slide index__slide">
                        <a href="/work/detail" class="inview">
                            <figure class="c-picture__img p-news__img">
                                <picture class="c-picture__img--inner">
                                    <img src="./assets/images/gallery_img_3.png" alt="メインビジュアル">
                                </picture>
                                <div class="p-news__meta">
                                    <span>GAME</span>
                                    <span>2022.03.23</span>
                                </div>
                            </figure>
                            <div class="p-news__detail">
                                <p class="p-news__txt">
                                    <span>2020年12月1日</span>
                                    アップデートファイル配信のお知らせ
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide c-slider__slide index__slide">
                        <a href="/work/detail" class="inview">
                            <figure class="c-picture__img p-news__img">
                                <picture class="c-picture__img--inner">
                                    <img src="./assets/images/gallery_img_3.png" alt="メインビジュアル">
                                </picture>
                                <div class="p-news__meta">
                                    <span>GAME</span>
                                    <span>2022.03.23</span>
                                </div>
                            </figure>
                            <div class="p-news__detail">
                                <p class="p-news__txt">
                                    <span>2020年12月1日</span>
                                    アップデートファイル配信のお知らせ
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide c-slider__slide index__slide">
                        <a href="/work/detail" class="inview">
                            <figure class="c-picture__img p-news__img">
                                <picture class="c-picture__img--inner">
                                    <img src="./assets/images/gallery_img_3.png" alt="メインビジュアル">
                                </picture>
                                <div class="p-news__meta">
                                    <span>GAME</span>
                                    <span>2022.03.23</span>
                                </div>
                            </figure>
                            <div class="p-news__detail">
                                <p class="p-news__txt">
                                    <span>2020年12月1日</span>
                                    アップデートファイル配信のお知らせ
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-button-prev index__btn--slider index__btn--sliderPrev js-slider-btnPrev">
                </div>
                <div class="swiper-button-next index__btn--slider index__btn--sliderNext js-slider-btnNext">
                </div>
            </div>

            <div class="swiper-scrollbar"></div>
        </div>
        <div class="smoke smoke__bottom"></div>
    </section>

    <div class="p-story__bg"></div>

    <section id="about" class="c-sec p-story inview">

        <div class="p-story__red inview"></div>

        <div class="p-story__hand">
            <div class="inview js-scroll--view">
                <img src="./assets/images/hand_2.png" alt="">
                <!-- <img src="./assets/images/hand_2.png" alt=""> -->
            </div>
        </div>
        <div class="p-story__hand2">
            <div class="inview js-scroll--view">
                <img src="./assets/images/hand_1.png" alt="">
                <!-- <img src="./assets/images/hand_2.png" alt=""> -->
            </div>
        </div>
        <!-- <div class="smoke smoke__top"></div> -->
        <!-- <div class="smoke smoke__bottom"></div> -->
        <div class="p-story__inner">
            <!-- <div class="inview js-scroll--fadeUp">
                        <figure style="position: relative; overflow: hidden;">
                            <img src="./assets/images/story_obj_01.png" alt="">
                            <div class="p-story__obj">
                                <div class="inview js-scroll--slideDown" style="transition-delay: 1.2s;">
                                    <figure class="js-rellax" data-rellax-speed="1.5" data-rellax-percentage="1">
                                        <img src="./assets/images/test_01_back.png" alt="">
                                    </figure>
                                </div>
                            </div>
                        </figure>
                    </div> -->


            <!-- <h2 class="c-sec__ttl" style="margin-top: 20px;">
                <span class="-en">STORY</span>
                <span class="-ja">人物紹介</span>
            </h2> -->

            <ul class="p-story__list">



                <li class="p-story__item--right">
                    <p class="inview js-scroll--fadeUp" style="font-size: 32px;">
                        きっかけは一冊の<span>手記</span>だった。
                    </p>
                    <p class="inview js-scroll--fadeUp">
                        偶然手に入れた手書きの手記に記されていた&nbsp;<span>"閉鎖された旧校舎の秘密"</span>
                    </p>
                    <p class="inview js-scroll--fadeUp">そこには―――</p>
                    <p class="inview js-scroll--fadeUp">
                        <!-- <img src="./assets/images/story_obj_01.png" alt="" /> -->
                    </p>

                    <p class="inview js-scroll--fadeUp" style="font-size: 54px; padding: 140px 0;">
                        <span>死が、</span>待ち受けていた
                    </p>

                    <!-- <div class="inview js-scroll--fadeUp">
                        <figure style="position: relative; overflow: hidden;">
                            <img src="./assets/images/story_obj_01.png" alt="">
                            <div class="p-story__obj">
                                <div class="inview js-scroll--slideDown" style="transition-delay: 1.2s;">
                                    <figure class="js-rellax" data-rellax-speed="1.5" data-rellax-percentage="1">
                                        <img src="./assets/images/test_01_back.png" alt="">
                                    </figure>
                                </div>
                            </div>
                        </figure>
                    </div> -->
                    <!-- <p class="inview js-scroll--fadeUp">
                        なすすべもなく、<span>つるし首にされた少女</span>
                    </p>
                    <p class="inview js-scroll--fadeUp">
                        薄れゆく意識の中、少女は思う―――
                    </p>
                    <p class="inview js-scroll--fadeUp" style="font-size: 28px;">
                        この男の世界を、<span>「非日常」</span>へと変貌させてやる
                    </p> -->
                </li>
            </ul>
        </div>

        <div class="p-story__bg" style="transform: scale(1, -1);"></div>


    </section>
    <!-- <div class="p-story__bg"></div> -->

    <section id="chara" class="p-chara">

        <div class="smoke smoke__top"></div>



        <h2 class="c-sec__ttl" style="margin-top: 20px;">
            <!-- <img src="./assets/images/title_chara.png" alt="" style="width: 440px;"> -->
            <!-- <span class="-en">characters</span>
            <span class="-ja">人物紹介</span> -->
        </h2>

        <div class="p-story__hand2">
            <div class="inview js-scroll--view">
                <img src="./assets/images/chara_name.png" alt="">
                <!-- <img src="./assets/images/hand_2.png" alt=""> -->
            </div>
        </div>

        <div class="p-chara__inner">
            <div class="p-chara__bg">
                <ul class="p-chara__list--bg">
                    <li class="p-chara__item--bg p-chara__item--bg01"></li>
                    <li class="p-chara__item--bg p-chara__item--bg02"></li>
                    <li class="p-chara__item--bg p-chara__item--bg03"></li>
                </ul>
            </div>

            <!-- <h2 class="c-sec__ttl" style="margin-bottom: 0; width: 38vw;">
                <img src="./assets/images/title_story.png" alt="">
            </h2> -->
            <!-- <em>
                夜に迷い込んだ子供たち
            </em> -->

            <!-- <div class="p-chara__bg"></div> -->


            <div class="swiper-container p-chara__slider">






                <div class="swiper-wrapper" style="align-items: flex-end;">
                    <div class="swiper-slide js-modal-open">



                        <div class="p-chara__head inview js-scroll--slideRight">

                            <figure class="p-chara__img--chara" style="width:760px; margin: auto;">
                                <img src="./assets/images/test_04.png" alt="" class="-front01">
                            </figure>
                            <ul class="p-chara__list--info">
                                <li class="p-chara__item--info">
                                    <span class="-right">年齢</span>
                                    <span class="-left">18歳</span>
                                </li>
                                <li class="p-chara__item--info">
                                    <span class="-right">趣味</span>
                                    <span class="-left">SMプレイ</span>
                                </li>
                                <li class="p-chara__item--info">
                                    <span class="-right">好きなもの</span>
                                    <span class="-left">子供</span>
                                </li>
                                <li class="p-chara__item--info">
                                    <span class="-right">嫌いなもの</span>
                                    <span class="-left">大人</span>
                                </li>
                            </ul>

                        </div>

                        <div class="p-chara__foot inview js-scroll--slideLeft">




                            <h3 class="p-chara__heading--name">
                                キャラクター&nbsp;01<br />
                                <span>- character&nbsp;01</span>
                            </h3>
                            <p class="p-chara__txt">
                                CV：YAMADA
                            </p>
                            <p class="p-chara__txt">
                                「&nbsp;僕は欲望のために<br />
                                その手を汚すことができるのか…？&nbsp;」
                            </p>
                            <p style="font-size: 14px; line-height: 26px;
                            ">
                                主人公。港町ゴリアテが暗黒騎士団に襲撃された際、父・プランシーを連れ去られてしまう。以後、ウォルスタ解放軍の一員として、姉のカチュア、幼なじみのヴァイスと共にバクラム、ガルガスタン陣営に対してゲリラ活動を行う。
                                正義感が強く、また、理想をかなえるための実行力を持つ。その一方で思慮深くもあり、戦う意味について思い悩むこともある。
                            </p>

                            <ul class="p-chara__list--thumb">
                                <li class="p-chara__item--thumb">
                                    <figure class="p-chara__img--thumb">
                                        <img src="./assets/images/kv.jpg" alt="">
                                    </figure>
                                </li>
                                <li class="p-chara__item--thumb">
                                    <figure class="p-chara__img--thumb">
                                        <img src="./assets/images/kv.jpg" alt="">
                                    </figure>
                                </li>
                            </ul>




                        </div>

                        <!-- <div class="p-chara__bg--slide">
                            登場人物&nbsp;01<br />
                            <span>Tojo Zinbutu</span>
                        </div> -->



                    </div>
                    <div class="swiper-slide js-modal-open">



                        <div class="p-chara__head inview js-scroll--slideRight">

                            <figure class="p-chara__img--chara" style="width:560px; margin: auto;">
                                <img src="./assets/images/c07_1.png" alt="" class="-front01">
                            </figure>
                            <ul class="p-chara__list--info">
                                <li class="p-chara__item--info">
                                    <span class="-right">年齢</span>
                                    <span class="-left">18歳</span>
                                </li>
                                <li class="p-chara__item--info">
                                    <span class="-right">趣味</span>
                                    <span class="-left">SMプレイ</span>
                                </li>
                                <li class="p-chara__item--info">
                                    <span class="-right">好きなもの</span>
                                    <span class="-left">子供</span>
                                </li>
                                <li class="p-chara__item--info">
                                    <span class="-right">嫌いなもの</span>
                                    <span class="-left">大人</span>
                                </li>
                            </ul>

                        </div>

                        <div class="p-chara__foot inview js-scroll--slideLeft">




                            <h3 class="p-chara__heading--name">
                                キャラクター&nbsp;01<br />
                                <span>- character&nbsp;01</span>
                            </h3>
                            <p class="p-chara__txt">
                                CV：YAMADA
                            </p>
                            <p class="p-chara__txt">
                                「&nbsp;僕は欲望のために<br />
                                その手を汚すことができるのか…？&nbsp;」
                            </p>
                            <p style="font-size: 14px; line-height: 26px; text-shadow: 2px 2px 5px #000, 2px 2px 5px #000, 2px 2px 5px #000, 2px 2px 5px #000;
                            ">
                                主人公。港町ゴリアテが暗黒騎士団に襲撃された際、父・プランシーを連れ去られてしまう。以後、ウォルスタ解放軍の一員として、姉のカチュア、幼なじみのヴァイスと共にバクラム、ガルガスタン陣営に対してゲリラ活動を行う。
                                正義感が強く、また、理想をかなえるための実行力を持つ。その一方で思慮深くもあり、戦う意味について思い悩むこともある。
                            </p>

                            <ul class="p-chara__list--thumb">
                                <li class="p-chara__item--thumb">
                                    <figure class="p-chara__img--thumb">
                                        <img src="./assets/images/kv.jpg" alt="">
                                    </figure>
                                </li>
                                <li class="p-chara__item--thumb">
                                    <figure class="p-chara__img--thumb">
                                        <img src="./assets/images/kv.jpg" alt="">
                                    </figure>
                                </li>
                            </ul>




                        </div>

                        <!-- <div class="p-chara__bg--slide">
                            登場人物&nbsp;01<br />
                            <span>Tojo Zinbutu</span>
                        </div> -->



                    </div>
                    <div class="swiper-slide js-modal-open">



                        <div class="p-chara__head inview js-scroll--slideRight">

                            <figure class="p-chara__img--chara" style="width:890px; margin: auto;">
                                <img src="./assets/images/test_04.png" alt="" class="-front01">
                            </figure>
                            <ul class="p-chara__list--info">
                                <li class="p-chara__item--info">
                                    <span class="-right">年齢</span>
                                    <span class="-left">18歳</span>
                                </li>
                                <li class="p-chara__item--info">
                                    <span class="-right">趣味</span>
                                    <span class="-left">SMプレイ</span>
                                </li>
                                <li class="p-chara__item--info">
                                    <span class="-right">好きなもの</span>
                                    <span class="-left">子供</span>
                                </li>
                                <li class="p-chara__item--info">
                                    <span class="-right">嫌いなもの</span>
                                    <span class="-left">大人</span>
                                </li>
                            </ul>

                        </div>

                        <div class="p-chara__foot inview js-scroll--slideLeft">




                            <h3 class="p-chara__heading--name">
                                キャラクター&nbsp;01<br />
                                <span>- character&nbsp;01</span>
                            </h3>
                            <p class="p-chara__txt">
                                CV：YAMADA
                            </p>
                            <p class="p-chara__txt">
                                「&nbsp;僕は欲望のために<br />
                                その手を汚すことができるのか…？&nbsp;」
                            </p>
                            <p style="font-size: 16px; line-height: 26px; text-shadow: 2px 2px 5px #000, 2px 2px 5px #000, 2px 2px 5px #000, 2px 2px 5px #000;
                            ">
                                主人公。港町ゴリアテが暗黒騎士団に襲撃された際、父・プランシーを連れ去られてしまう。以後、ウォルスタ解放軍の一員として、姉のカチュア、幼なじみのヴァイスと共にバクラム、ガルガスタン陣営に対してゲリラ活動を行う。
                                正義感が強く、また、理想をかなえるための実行力を持つ。その一方で思慮深くもあり、戦う意味について思い悩むこともある。
                            </p>

                            <ul class="p-chara__list--thumb">
                                <li class="p-chara__item--thumb">
                                    <figure class="p-chara__img--thumb">
                                        <img src="./assets/images/kv.jpg" alt="">
                                    </figure>
                                </li>
                                <li class="p-chara__item--thumb">
                                    <figure class="p-chara__img--thumb">
                                        <img src="./assets/images/kv.jpg" alt="">
                                    </figure>
                                </li>
                            </ul>




                        </div>

                        <!-- <div class="p-chara__bg--slide">
                            登場人物&nbsp;01<br />
                            <span>Tojo Zinbutu</span>
                        </div> -->



                    </div>
                </div>


                <!-- <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div> -->

            </div>




            <div class="smoke smoke__bottom"></div>
        </div>

        <div class="p-chara__tab" style="z-index: 100;">
            <ul class="p-chara__list--tab">
                <li class="p-chara__item--tab js-chara-tab" data-num="0">
                    <figure>
                        <img src="./assets/images/charaBoard_01.png" alt="">
                    </figure>
                </li>
                <li class="p-chara__item--tab js-chara-tab" data-num="1">
                    <figure>
                        <img src="./assets/images/charaBoard_01.png" alt="">
                    </figure>
                </li>
                <li class="p-chara__item--tab js-chara-tab" data-num="2">
                    <figure>
                        <img src="./assets/images/charaBoard_01.png" alt="">
                    </figure>
                </li>
                <li class="p-chara__item--tab js-chara-tab" data-num="1">
                    <figure>
                        <img src="./assets/images/charaBoard_01.png" alt="">
                    </figure>
                </li>
                <li class="p-chara__item--tab js-chara-tab" data-num="2">
                    <figure>
                        <img src="./assets/images/charaBoard_01.png" alt="">
                    </figure>
                </li>
            </ul>

        </div>
    </section>
    <div class="p-story__bg" style=""></div>

    <section id="system" class="c-sec p-sys">

        <h2 class="c-sec__ttl" style="margin-top: 20px;">
            <span class="-en">SYSTEM</span>
            <span class="-ja">システム</span>
        </h2>

        <div class="p-sys__inner">


            <ul class="p-sys__list">

                <li class="p-sys__item reverse">
                    <div class="p-sys__detail">
                        <h3 class="">
                            <img src="./assets/images/title_story.png" alt="" class="-obj">
                        </h3>
                        <p>
                            グラフィックの高解像度化のみならず、<br />
                            操作の利便性を図りUIを一新
                        </p>
                        <p style="font-size: 14px; border-bottom: none; line-height: 2;">
                            オリジナルのタクティクスオウガから比類なきクオリティを誇っていたキャラクターとBGの描写をさらに高解像度化。
                            このゲームの持ち味となっている「緻密に描かれたピクセルアート」の風合いを活かした形で表現を強化しています。
                        </p>
                    </div>
                    <figure class="p-sys__img inview js-scroll--slideLeft">
                        <a href="./assets/images/chara_bg_02.jpg" data-lity>
                            <img src="./assets/images//charaBg_01.jpg" alt="">
                        </a>

                    </figure>

                </li>
                <li class="p-sys__item reverse">
                    <figure class="p-sys__img inview js-scroll--slideRight">
                        <a href="./assets/images/chara_bg_02.jpg" data-lity>
                            <img src="./assets/images/system_01.jpg" alt="">
                        </a>
                    </figure>
                    <div class="p-sys__detail">
                        <h3>
                            <img src="./assets/images/hunt.png" alt="" class="-obj">
                        </h3>
                        <p>
                            グラフィックの高解像度化のみならず、<br />
                            操作の利便性を図りUIを一新
                        </p>
                        <p style="font-size: 14px; border-bottom: none; line-height: 2;">
                            オリジナルのタクティクスオウガから比類なきクオリティを誇っていたキャラクターとBGの描写をさらに高解像度化。
                            このゲームの持ち味となっている「緻密に描かれたピクセルアート」の風合いを活かした形で表現を強化しています。
                        </p>
                    </div>
                </li>
                <li class="p-sys__item reverse">
                    <div class="p-sys__detail">
                        <h3>
                            <img src="./assets/images/title_story.png" alt="" class="-obj">
                        </h3>
                        <p>
                            グラフィックの高解像度化のみならず、<br />
                            操作の利便性を図りUIを一新
                        </p>
                        <p style="font-size: 14px; border-bottom: none; line-height: 2;">
                            オリジナルのタクティクスオウガから比類なきクオリティを誇っていたキャラクターとBGの描写をさらに高解像度化。
                            このゲームの持ち味となっている「緻密に描かれたピクセルアート」の風合いを活かした形で表現を強化しています。
                        </p>
                    </div>
                    <figure class="p-sys__img inview js-scroll--slideLeft">
                        <a href="./assets/images/chara_bg_02.jpg" data-lity>
                            <img src="./assets/images/kv.jpg" alt="">
                        </a>
                    </figure>

                </li>
            </ul>
        </div>
    </section>





    <div class="p-story__bg" style="transform: scale(1, -1);"></div>
    <section id="gallery" class="p-gallery">
        <div class="p-gallery__inner">
            <h2 class="c-sec__ttl">
                <span class="-en">GALLERY</span>
                <span class="-ja">ギャラリー</span>
            </h2>

            <!-- <div class="p-gallery__tab">

                <ul class="p-gallery__list">
                    <li class="p-gallery__item js-tab--trigger is-active" data-tab="tab-content01">
                        <a href="">ART</a>
                    </li>
                    <li class="p-gallery__item js-tab--trigger" data-tab="tab-content02">
                        <a href="">MOVIE</a>
                    </li>
                </ul>
            </div> -->

            <div class="p-about__content">

                <div id="tab-content01" class="p-about__box js-tab--content is-active">

                    <div class="p-gallery__slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide p-gallery__slide">
                                <img src="./assets/images/charaBg_01.jpg" alt="">
                            </div>
                            <div class="swiper-slide p-gallery__slide">
                                <img src="./assets/images/system_01.jpg" alt="">
                            </div>
                            <div class="swiper-slide p-gallery__slide">
                                <img src="./assets/images/kv.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>

                </div>

                <div id="tab-content02" class="p-about__box js-tab--content">

                    <div class="p-gallery__slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide p-gallery__slide">
                                <img src="./assets/images/kv.jpg" alt="">
                            </div>
                            <div class="swiper-slide p-gallery__slide">
                                <img src="./assets/images/kv.jpg" alt="">
                            </div>
                            <div class="swiper-slide p-gallery__slide">
                                <img src="./assets/images/kv.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>
        <div class="smoke smoke__top"></div>
        <div class="smoke smoke__bottom"></div>
    </section>
    <div class="p-story__bg" style=""></div>


    <section id="product" class="p-product">
        <div class="p-product__inner">
            <h2 class="c-sec__ttl" style="margin-top: 20px;">
                <!-- <img src="./assets/images/title_story.png" alt="" style="width: 30vw;"> -->
                <span class="-en">PRODUCT</span>
                <span class="-ja">プロダクト</span>
            </h2>

            <ul class="p-product__list">
                <li class="p-product__item--left">
                    <figure class="p-product__img">
                        <img src="./assets/images/Front.png" alt="">
                    </figure>
                </li>
                <li class="p-product__item--right">
                    <dl class="p-product__list--detail">
                        <dt>タイトル</dt>
                        <dd>作品タイトル</dd>
                        <dt>ジャンル</dt>
                        <dd>サイコホラー</dd>
                        <dt>機種</dt>
                        <dd>Nintendo Switch™PlayStation®4</dd>
                        <dt>発売日</dt>
                        <dd>4100年1月1日</dd>
                        <dt>価格</dt>
                        <dd>
                            <span>通常版：9,999円</span>
                            <span>ダウンロード版：9,999円</span>
                        </dd>
                        <dt>CERO</dt>
                        <dd>Z（18才以上対象）</dd>
                    </dl>
                </li>
            </ul>

            <div class="p-mv__info" style="width: 600px; margin: 40px auto 0;">

                <!-- <p><span>4100.01.01 ON SALE</span></p> -->
                <ul class="p-banner__list">
                    <li class="p-banner__item">
                        <a href="">
                            <img src="./assets/images/banner_01.png" alt="">
                        </a>
                    </li>
                    <li class="p-banner__item">
                        <a href="">
                            <img src="./assets/images/ps4.png" alt="">
                        </a>
                    </li>
                    <li class="p-banner__item">
                        <a href="">
                            <img src="./assets/images/steam.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- <div class="smoke smoke__bottom"></div> -->
    </section>







    <!-- <div class="smoke smoke__right"></div>
    <div class="smoke smoke__left"></div> -->

    <div class="p-mv__fog">
        <div class="p-mv__fog--img p-mv__fog--first"></div>
        <div class="p-mv__fog--img p-mv__fog--second"></div>
    </div>
</main>





<%- include('./_inc/_footer', { pageId: pageId }) %>