@use "../foundation"as *;

.c-sec {
    position: relative;
    // overflow: hidden;
    @include flexCenter;

    &__ttl {
        position: relative;
        // @include maxWidth(840px);
        margin-bottom: min(vw(20px, 365),30px);
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        z-index: 1;

        span {
            display: block;
            line-height: 1.2;
        }

        .-en {
            position: relative;
            font-size: min(vw(40px, 365),60px);
            font-weight: 600;
            letter-spacing: 0.04em;
            display: inline-block;
            filter: drop-shadow(0 0 10px rgba(255,255,255,0.45));
        }

        .-ja {
            font-size: min(vw(10px, 365),14px);
            font-weight: 700;
            color: $color-white;
            letter-spacing: 0.06em;
        }
    }

    @include mq-target(sm) {

        &__ttl {
            transform: translate3d(0, 0, 0);
            will-change: transform;
            margin-bottom: min(vw(20px, 768),30px);
        }
    }
}


.index {
    &__bg {
        background-image: url(../../assets/images/storyBg_01.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: min(153.1942633638vw, 720px);
        position: fixed;
        top: 0;
        left: 0;

        @include mq-target(sm) {
            height: min(56.25vw, 880px);
        }

        // transform: translate(-50%, -50%);
        // transition: 1.2s cubic-bezier(0.65, 0.05, 0.36, 1);
        // filter: blur(10px);
        // }
        // &::before {
        //     display: block;
        //     position: absolute;
        //     content: "";
        //     background: url(../img/bg_top.jpg) 50% 0% no-repeat;
        //     background-color: black;
        //     background-size: cover;
        //     width: min(100vw,1920px);
        //     height: min(153.1942633638vw,1175px);
        //     @include mq-target(sm) {
        //       height: min(56.25vw, 880px);
        //     }
        //     top: 0;
        //     left: 0;
        //     pointer-events: none;
        //     margin: 0 auto;
        //     background-image: url(../../assets/images/storyBg_01.jpg);
        //     transition: none;
        //     transition-delay: 0s;
        //     transition: background-position 2500ms ease-in-out;
        // }

        // &.is-anim {
        //     &::before {
        //         background-position: center top;
        //     }
        // }
    }
}