.c-sec {
    position: relative;
    overflow: hidden;
    @include flexCenter;

    &__ttl {
        position: relative;
        @include maxWidth(840px);
        margin: 0 auto 40px;
        font-weight: 400;
        text-align: center;
        // font-family: "Cinzel", "Noto Serif JP", sans-serif;
        text-transform: uppercase;
        text-shadow: 1px 2px 4px #292929;
        z-index: 1;

        span {
            display: block;
            line-height: 1.5;
        }

        .-en {
            font-size: 40px;
            letter-spacing: 0.05em;
            line-height: 0;
            font-weight: 700;
        }

        .-ja {
            padding: 0px 0 0;
            font-size: 14px;
        }
    }

    &__bg {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: url(../../assets/images/story_bg.png) bottom no-repeat;
        background-size: contain;
        // filter: blur(3px);
        margin: -3px;
        width: calc(100% + 6px);
        z-index: 1;
    
        &::after {
            content: "";
            @include absAll;
            // background: rgba($color: #000, $alpha: 0.4);
        }
    }

    @include mq-target(sm) {

        &__ttl {
            .-en {
                font-size: 52px;
            }

            .-ja {
                font-size: 16px;
            }
        }
    }
}