@use "../foundation"as *;

.c-sec {
    position: relative;
    // overflow: hidden;
    @include flexCenter;

    &__ttl {
        position: relative;
        // @include maxWidth(840px);
        margin: 0 auto 20px;
        font-weight: 400;
        text-align: center;
        // font-family: "Cinzel", "Noto Serif JP", sans-serif;
        text-transform: uppercase;
        z-index: 1;
        // font-family: "Teko", 'M PLUS 1', Arial, sans-serif;


        span {
            display: block;
            line-height: 1.5;
            // text-shadow: 1px 2px 2px #000, 2px 2px 5px #000, 2px 2px 2px #000, 1px 1px 2px #000;
        }

        .-en {
            position: relative;
            font-size: 60px;
            letter-spacing: 0.04em;
            // line-height: 0;
            display: inline-block;
        }

        .-ja {
            text-shadow: 1px 1px 2px #ba2929, -1px 1px 2px #cc2929, 1px -1px 2px #ba2222, -1px -1px 2px #c52929;
            font-size: 14px;
            color: $color-black;
        }
    }

    @include mq-target(sm) {

        &__ttl {
            transform: translate3d(0, 0, 0);
            will-change: transform;

            .-en {
                // background-color: #BB1020;
                background-image: linear-gradient(to bottom, #d81c03, #352e2c);
                -webkit-background-clip: text;
                color: transparent;
                background-position: left top;
                background-size: cover;
                -webkit-background-clip: text;
                background-clip: text;
                color: rgba(0, 0, 0, 0);
                display: inline-block;
                filter: drop-shadow(5px 0 10px rgba(0, 0, 0, 0.8));
                font-weight: 500;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 0.2em;
            }

            .-ja {
                font-size: 44px;
                font-weight: 700;
                // display: none;
            }
        }
    }
}


.index {
    &__bg {
        background-image: url(../../assets/images/storyBg_01.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: min(153.1942633638vw, 720px);
        position: fixed;
        top: 0;
        left: 0;

        @include mq-target(sm) {
            height: min(56.25vw, 880px);
        }

        // transform: translate(-50%, -50%);
        // transition: 1.2s cubic-bezier(0.65, 0.05, 0.36, 1);
        // filter: blur(10px);
        // }
        // &::before {
        //     display: block;
        //     position: absolute;
        //     content: "";
        //     background: url(../img/bg_top.jpg) 50% 0% no-repeat;
        //     background-color: black;
        //     background-size: cover;
        //     width: min(100vw,1920px);
        //     height: min(153.1942633638vw,1175px);
        //     @include mq-target(sm) {
        //       height: min(56.25vw, 880px);
        //     }
        //     top: 0;
        //     left: 0;
        //     pointer-events: none;
        //     margin: 0 auto;
        //     background-image: url(../../assets/images/storyBg_01.jpg);
        //     transition: none;
        //     transition-delay: 0s;
        //     transition: background-position 2500ms ease-in-out;
        // }

        // &.is-anim {
        //     &::before {
        //         background-position: center top;
        //     }
        // }
    }
}