.smoke {
    position: absolute;
    padding-top: 2.25%;
    background: linear-gradient(180deg, rgba(9, 8, 6, 0), #010204 50%);
    z-index: 300;
    display: block;
    height: 100px;
    width: 100%;

    @include mq-target(sm) {
        width: 100%;
    }

    &--chara {
        @include mq-target(sm) {
            width: 100%;
        }
    }

    &__top {
        top: 0;
        background: linear-gradient(360deg, rgba(9, 8, 6, 0), #010204 80%);
    }

    &__bottom {
        bottom: 0;
        background: linear-gradient(180deg, rgba(9, 8, 6, 0), #010204 80%);
    }
}




.c-icon--scroll {
    display: block;
    margin: auto;
    position: fixed;
    bottom: 0;
    height: 100px;
    left: 60px;
    top: 0;
    z-index: 600;
  
    span {
      color: $color-main;
      display: block;
      font-size: 14px;
      font-weight: 500;
      left: 8px;
      margin: auto;
      position: absolute;
      top: 0;
      font-family: "Cinzel";
      writing-mode: vertical-rl;
    }
  
    &::before ,&::after {
      content: "";
      position: absolute;
      margin: auto;
      display: block;
      width: 2px;
    }
  
    &::before {
      height: 100px;
      background: $color-grey-light-4;
      opacity: 0.25;
    }
  
    &::after {
        background-image: linear-gradient(to right bottom, rgba(41,152,255,0.85), rgba(86,67,250,0.85));
      height: 20px;
      animation: scrollPc 2s ease infinite;
    }
  }